@model InvoiceDiskLast.Models.BillDetailViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
}


<div class="row">
    <div class="col-2 b-r">
        @*two*@
    </div>
    <div class="col-8 b-r" style="border:1px solid Silver">
        <div class="container">
            <input type="hidden" id="PurchaseOrderID" />
          
            <input type="hidden" value="@Model.VenderId" id="VenderId" />
            <input type="hidden" value="@CompanyDatas.CompanyID" id="CompanyId" />

            <div class="row" style="margin-top:10px">
                <div class="col-7 b-r">

                    <img src="@Url.Content("~/Images/"+CompanyDatas.CompanyLogo)" id="targetImg" class="image-Size" />

                    <div class="row clientInfo">
                        <div class="col-12 b-r HeadText">Bill</div>
                    </div>
                    <div class="row clientInfo" style="margin-top:10px">
                        <div class="col-12 b-r">@Contectdatas.ContactName</div>
                    </div>
                    <div class="row">
                        <div class="col-12 b-r">@Contectdatas.ContactAddress <br />@Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City</div>
                    </div>


                    <div class="row" style="margin-top:20px">
                        <div class="col-3 b-r">
                            Bill Date:
                        </div>

                        <div class="col-6 b-r">

                            @{
                                DateTime BillDate = new DateTime();
                                BillDate = Convert.ToDateTime(Model.BillDate);
                            }
                            <input class="BillDate  Input-height form-control" autocomplete="off" value="@BillDate.ToShortDateString()" id="BillDate" />

                        </div>
                        <div class="col-3 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-3 b-r">
                            Bill Number:
                        </div>
                        <div class="col-6 b-r">
                            @Html.EditorFor(model => model.Bill_ID, new { htmlAttributes = new { @style = "font-size:12px", @class = "form-control Input-height", id = "Bill_ID", required = "required", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Bill_ID, "", new { @class = "text-danger" })

                        </div>
                        <div class="col-3 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-3 b-r">
                            Due Date:
                        </div>
                        <div class="col-6 b-r">

                            @{
                                DateTime BillDueDate = new DateTime();
                                BillDueDate = Convert.ToDateTime(Model.BillDueDate);
                            }
                            <input class="BillDueDate  Input-height form-control" autocomplete="off" value="@BillDueDate.ToShortDateString()" id="BillDueDate" />

                        </div>
                        <div class="col-3 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-3 b-r">
                            Reference No:
                        </div>
                        <div class="col-6 b-r">
                            @Html.EditorFor(Model => Model.RefNumber, new { htmlAttributes = new { @style = "font-size:12px", @class = "form-control Input-height", id = "RefNumber", required = "required" } })
                            @Html.ValidationMessageFor(model => model.RefNumber, "", new { @class = "text-danger" })


                        </div>
                        <div class="col-3 b-r"></div>
                    </div>
                </div>

                <div class="col-5 b-r">
                    <div class="row" style="margin-top:33px">
                        <div class="col-3 b-r"></div>
                        <div class="col-7 b-r CmpColor">@CompanyDatas.CompanyName</div>
                        <div class="col-2 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Kvk nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.KVK</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.BTW</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Bank:</div>
                        <div class="col-7 b-r">@CompanyDatas.BankName</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">IBAN No:</div>
                        <div class="col-7 b-r">@CompanyDatas.IBANNumber</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BIC No:</div>
                        <div class="col-7 b-r">@CompanyDatas.BIC</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Telephone:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyPhone</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Cell No:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyCell</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">E-mail:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyEmail</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Website:</div>
                        <div class="col-7 b-r">@CompanyDatas.Website</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Address:</div>
                        <div class="col-7 b-r">
                            @CompanyDatas.CompanyAddress<br />
                            @CompanyDatas.PostalCode,@CompanyDatas.CompanyCity <br />
                            @CompanyDatas.CompanyCountry
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 b-r">
                    <table class="table" id="orderdetailsitems">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    Goods
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Vat%
                                </th>
                                <th>
                                    Sub
                                </th>
                                <th>
                                    Action
                                </th>

                            </tr>
                        </thead>

                        <tbody class="tbodyGood">
                            <tr id="mainrow">
                                <td>
                                    <select id="SelectProductQutationG" class="product form-control pClassG Input-height" style="width: 300px;font-size:12px"></select>
                                </td>
                                <td>
                                    <input type="text" class="quantityG form-control Input-height" id="QuantityG" style="font-size:12px" />
                                </td>
                                <td>
                                    <input type="text" class="rateG form-control Input-height" id="rateG" style="font-size:12px" />
                                </td>
                                <td>
                                    <input type="text" class="FTotalG form-control Input-height" id="FTotal" style="font-size:12px" />
                                </td>
                                <td>
                                    <select id="SelectVATG" class="VATG form-control Input-height" style="width:60px;font-size:12px">
                                        <option>0</option>
                                        <option>6</option>
                                        <option>21</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" readonly id="RowTotalG" class="RowTotalG  form-control Input-height" style="width:80px" />
                                </td>
                                <td>
                                    <input type="button" id="btnaddGoods" value="+" class="btn-height" style="width:50px" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            Service table
            <hr />
            <div class="row">
                <div class="col-12 b-r">
                    <table class="table" id="QutationServiceDetail1">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date</th>

                                <th>
                                    Services
                                </th>
                                <th>Decription</th>
                                <th>
                                    hour
                                </th>
                                <th>
                                    Hourly rate
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Vat %
                                </th>
                                <th>
                                    Sub
                                </th>
                                <th>
                                    Action
                                </th>

                            </tr>

                        </thead>
                        <tbody class="tbodyService">
                            <tr id="mainrow1">
                                <td>
                                    <input class="ServiceDate  ss  form-control Input-height" />
                                </td>

                                <td>
                                    <select id="SelectProductQutationS" class="product form-control pClassG Input-height" style="width: 200px;font-size:12px"></select>
                                </td>
                                <td>
                                    <input type="text" class="Discription form-control Input-height" />
                                </td>
                                <td>
                                    <input type="text" class="quantityG form-control Input-height" id="QuantityS" style="font-size:12px" />
                                </td>
                                <td>
                                    <input type="text" class="rateG form-control Input-height" id="RateS" style="font-size:12px" />
                                </td>
                                <td>
                                    <input type="text" class="FTotalG form-control Input-height" id="FTotals" style="font-size:12px" />
                                </td>
                                <td>
                                    <select id="SelectVATS" class="VATG form-control Input-height" style="width:60px;font-size:12px">
                                        <option>0</option>
                                        <option>6</option>
                                        <option>21</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" readonly class="RowTotalG form-control Input-height" id="dddd" style="width:80px" />
                                </td>
                                <td>
                                    <input type="button" id="btnSerVice" value="+" class="btn-height" style="width:50px" />
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @Html.Partial("~/Views/Shared/UploadPartialFile.cshtml")
            <hr />
            <div class="row">
                <div class="col-8 b-r">
                    <div class="row">
                        <div class="col-3 b-r">Customer Notes:</div>
                        <div class="col-9 b-r">
                            @Html.TextAreaFor(model => model.CustomerNote, new { htmlAttributes = new { @style = "font-size:12px", @class = "form-control", id = "CustomerNote" } })
                            @Html.ValidationMessageFor(model => model.CustomerNote, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-4 b-r">
                    <div class="row">
                        <div class="col-5 b-r text-right">Sub Total:</div>
                        <div class="col-7 b-r text-right"><label id="SubTotal"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Totaal excel btw:</div>
                        <div class="col-7 b-r text-right">
                            <label id="TotalBTW"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW0%:</div>
                        <div class="col-7 b-r text-right">
                            <label id="btwo">0.00</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW 6%:</div>
                        <div class="col-7 b-r text-right">
                            <label id="BTW6"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW 21%:</div>
                        <div class="col-7 b-r text-right">
                            <label id="BTW21"></label>
                        </div>
                    </div>

                    <div class="row Grand-color">
                        <div class="col-5 b-r text-right">Grand Total:</div>
                        <div class="col-7 b-r text-right">
                            <span style="margin-top:1px"><b>&euro;</b></span><label id="gtotal"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 b-r">
        @*two*@
    </div>
</div>
<div class="row" style="margin-top:5px">
    <div class="col-2 b-r"></div>
    <div class="col-8 b-r">
        <div class="pull-right">
            <div class="btn-group">
                <button id="Submit" type="button" class="btn btn-success"><span><i class="fa fa-save fa-backgroun" style="margin-right:5px"></i></span>Save Draft</button>
            </div>
            <button id="saveEmail" type="button" value="Save + email" class="btn btn-success" style="margin:0px 5px"><span><i class="fa fa-envelope fa-backgroun" style="margin-right:5px"></i></span>Save + E-mail</button>
            <button id="saveprintandsendtoyourselfsave" type="button" class="btn btn-success" style="margin:0px 5px"><span><i class="fa fa-save fa-backgroun" style="margin-right:5px"></i></span>Save + print and send and send ot yourself</button>
        </div>
    </div>
    <div class="col-2 b-r"></div>
</div>

@Html.Partial("~/Views/Shared/PartialViews/ProductPartialView.cshtml")
@Html.Partial("~/Views/Shared/PartialViews/UnitPartialView.cshtml")



<script type="text/javascript">
    var Currentrow, Total, vat, Price, Quantity = 0;
    $(document).ready(function () {
        LoadProductS();
        LoadProductG();
    });

    var VAT21VAlUE, VAT6VAlUE;
    $('#btnaddGoods').click(function () {

        var currentRow1 = $(this).closest("tr");
        var VAT = currentRow1.find('.VATG').val();
        RowSubTalSubtotal(VAT, currentRow1);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();

        var isAllValid = true;
        if ($("#mainrow #SelectProductQutationG").val() == "0") {
            isAllValid = false;
            alert("Please select Item");
            return;
        }

        var isAllValid = true;
        if ($("#mainrow .quantityG").val() == 0) {
            isAllValid = false;
            alert("Please provide quantityG");
            return;
        }
        var isAllValid = true;
        if ($("#mainrow .rateG").val() == 0) {
            isAllValid = false;
            alert("Please select provide rate");
            return;
        }

        if (isAllValid) {

            var $newRow = $("#mainrow").clone().removeAttr('id');
            $('#SelectProductQutationG', $newRow).val($("#SelectProductQutationG").val());
            $('.VATG', $newRow).val($("#mainrow #SelectVATG").val());
            //Replace add button with remove button
            $("#btnaddGoods", $newRow).addClass('remove').val('x').removeClass('btn-success').addClass('btn-height-Remove');
            //Remove id attribute from new clone row

            $("#SelectProductQutationG,#QuantityG,#RateG,#FTotalG,#RowTotalG,#SelectVATG", $newRow).removeAttr('id');
            $('span.error', $newRow).remove();

            $('.tbodyGood tr:last').before($newRow);

            $(".FTotalG").prop('disabled', true);
            $('#mainrow #SelectProductQutationG').val('0');
            $('#mainrow .quantityG').val('');
            $('#mainrow #RateG').val('');
            $('#mainrow .FTotalG').val('');
            $('#mainrow .quantityG').val('');

            if ($('#orderItemError').text != '') {
                $('#orderItemError').text('');
            }
            $('#mainrow #SelectVATG').val(0);
        }

        $('#mainrow #RowTotalG').val('');
    });
    $('#btnSerVice').click(function () {

        var currentRow1 = $(this).closest("tr");
        vat = currentRow1.find('.VATG').val();
        RowSubTalSubtotal(vat, currentRow1);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();

        var isAllValid = true;
        if ($("#mainrow1 #SelectProductQutationS").val() == "0") {
            isAllValid = false;
            alert("Please select Item");
            return;
        }

        var isAllValid = true;
        if ($("#mainrow1 .quantityS").val() == 0) {
            isAllValid = false;

            alert("Please provide quantity");
            return;
        }
        var isAllValid = true;
        if ($("#mainrow1 .rateS").val() == 0) {
            isAllValid = false;
            alert("Please select provide rate");
            return;
        }

        if (isAllValid) {
            var $newRow = $("#mainrow1").clone().removeAttr('id');
            $('#SelectProductQutationS', $newRow).val($("#SelectProductQutationS").val());
            $('.VATG', $newRow).val($("#mainrow1 #SelectVATS").val());

            //Replace add button with remove button
            $("#btnSerVice", $newRow).addClass('remove').val('x').removeClass('btn-success').addClass('btn-height-Remove');

            //Remove id attribute from new clone row

            $("#SelectProductQutationS,#QuantityS,#RateS,#FTotalS,#SelectVATS", $newRow).removeAttr('id');

            $('span.error', $newRow).remove();


            currentRow1.find('.ServiceDate ').removeAttr('id');
            currentRow1.find('.ServiceDate ').remove('id');
            $('.tbodyService tr:last').before($newRow);

            $(".FTotalG").prop('disabled', true);

            $('#mainrow1 #SelectProductQutationS').val('0');
            $('#mainrow1 .quantityG').val('');
            $('#mainrow1 .rateG ').val('');
            $('#mainrow1 #FTotalG').val('');
            $('#mainrow1 .quantityG').val('');
            $('#mainrow1 #FTotal').val('');
            if ($('#orderItemError').text != '') {
                $('#orderItemError').text('');
            }
            $('#mainrow1 #SelectVATS').val(0);
            $('#mainrow1 #RowTotalG').val('');
            $('#mainrow1 .RowTotalG').val('');
            $('#QutationServiceDetail1 #mainrow1 .RowTotalG').val('');


        }
    });

    $('.quantityG').keyup(function () {
        Currentrow = $(this).closest("tr");
        calculateTotalGoods(Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $('.rateG').keyup(function () {
        Currentrow = $(this).closest("tr");
        calculateTotalGoods(Currentrow);

        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    var FocuseInTotal, FocusOutTotal, FoucuseInSubTotal, FocusOutSubTotal;

    $(document).on("keypress", "tbody .rateG", function () {

        Currentrow = $(this).closest("tr");
        FoucuseInSubTotal = Currentrow.find(".FTotalG").val();
        FocuseInTotal = Currentrow.find('.RowTotalG').val();
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();

    });


    $(document).on("keyup", "tbody .rateG", function () {

        Currentrow = $(this).closest("tr");
        vat = Currentrow.find(".VATG").val();
        calculateTotalGoods(Currentrow);
        RowSubTalSubtotal(vat, Currentrow);
        var Total = Currentrow.find(".FTotalG").val();
        var Subtotalwt = Currentrow.find('.RowTotalG').val();

    });


    $(document).on("keyup", "tbody .quantityG", function () {
        Currentrow = $(this).closest("tr");
        vat = Currentrow.find(".VATG").val();
        calculateTotalGoods(Currentrow);
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $(document).on("keyup", "tbody .rateG", function () {

        Currentrow = $(this).closest("tr");
        vat = Currentrow.find(".VATG").val();
        calculateTotalGoods(Currentrow);
        RowSubTalSubtotal(vat, Currentrow);

        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $(document).on("keyup", "tbody .quantityG", function () {

        debugger;

        Currentrow = $(this).closest("tr");
        vat = Currentrow.find(".VATG").val();
        calculateTotalGoods(Currentrow);
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    function calculateTotalGoods(currentRow) {

        Quantity = currentRow.find(".quantityG").val(),
        Price = currentRow.find('.rateG').val();
        Total = parseFloat(Quantity * Price);
        if (!isNaN(Total)) {
            currentRow.find('.FTotalG').val(Total);
        }

    }

    function RowSubTalSubtotal(vat, CurrentRow) {

        debugger;
        var price = CurrentRow;

        Total = 0;


        Total = CurrentRow.find('.FTotalG').val();
        if (parseInt(vat) == 0 && typeof (vat) != "undefined") {
            if (!isNaN(Total) && typeof (Total) != "undefined") {
                CurrentRow.find('.RowTotalG').val(Total);
                CurrentRow.find('.RowTotalG').val(parseFloat(Total).toFixed(2));
                return;
            }
        }

        if (!isNaN(Total) && typeof (vat) != "undefined") {
            var InputVatValue = parseFloat((Total / 100) * vat);
            var ValueWTV = parseFloat(InputVatValue) + parseFloat(Total);
            CurrentRow.find('.RowTotalG').val(parseFloat(ValueWTV).toFixed(2));
        }


    }

    $(document).on('change', 'tbody .VATG', function () {

        var currentRow1 = $(this).closest("tr");
        var VAT = currentRow1.find('.VATG').val();
        RowSubTalSubtotal(VAT, currentRow1);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();

    });

    $('.VATG').change(function () {

        var Currentrow = $(this).closest("tr");
        vat = Currentrow.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
        Currentrow = "";
    });

    $('.quantityG').keyup(function () {

        var Currentrow = $(this).closest("tr");
        vat = Currentrow.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });


    $('.rateG').keyup(function () {
        var Currentrow = $(this).closest("tr");
        vat = Currentrow.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });


    $('tbody .VATG').change(function () {

        var Currentrow = $(this).closest("tr");
        vat = Currentrow.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);

        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $('.VATG').change(function () {

        var currentRow1 = $(this).closest("tr");
        vat = currentRow1.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);

        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();


    });
    //Services






    function CalculateVateTotal() {

        var Totalvat211, Totalvat6 = 0;
        var t = 0;
        $('#QutationServiceDetail1 .tbodyService tr').each(function () {

            var Value = 0;
            Value = $(this).find(".VATG").val();
            var FTotalG = $(this).find(".FTotalG").val();

            if (Value == 21) {

                if (!isNaN(parseFloat(Value))) {
                    var InputVatValue = parseFloat((FTotalG / 100) * 21);
                    t += parseFloat(InputVatValue)
                }
            }

            if (Value == 6) {
                if (!isNaN(parseFloat(Value))) {
                    var InputVatValue = parseFloat((FTotalG / 100) * 6);

                    Totalvat6 += parseFloat(InputVatValue);
                }
            }
        });


        $('#orderdetailsitems .tbodyGood tr').each(function () {

            var Value = $(this).find(".VATG").val();
            var FTotalG = $(this).find(".FTotalG").val();

            if (Value == 6) {

                if (!isNaN(parseFloat(Value))) {
                    var InputVatValue = parseFloat((FTotalG / 100) * 6);
                    Totalvat6 += parseFloat(InputVatValue);
                }
            }

            if (Value == 21) {

                if (!isNaN(parseFloat(Value))) {
                    var InputVatValue = parseFloat((FTotalG / 100) * 21);
                    t += parseFloat(InputVatValue);
                }
            }
        });


        if (!isNaN(Totalvat6)) {
            $('#BTW6').text(Totalvat6.toFixed(2));
        }
        if (!isNaN(t)) {
            $('#BTW21').text(parseFloat(t).toFixed(2));
        }
    }




    $(document).on('change', '.pClassG', function () {
        debugger;
        var currentRow1 = $(this).closest('tr');
        var value = currentRow1.find('.pClassG').val();
        GetProductPriceByProductId(value, currentRow1);
    });

    $('#mainrow .pClassG').change(function () {

        debugger;
        var currentRow = $(this).closest('tr');
        var value = currentRow.find('.pClassG').val();
        GetProductPriceByProductId(value, currentRow);
    });

    $('#mainrow1 .pClassG').change(function () {

        var currentRow = $(this).closest('tr');
        var value = currentRow.find('.pClassG').val();
        GetProductPriceByProductId(value, currentRow);
    });

    function GetProductPriceByProductId(Id, CurrentRow) {

        if (Id == "AddNewProductSelect") {
            GoodsService = "";
            GoodsService = "Good";
            ShowServiceGood("Good");
            $('#TypeGoodsServices').attr('disabled', false);
            $('#UpdateProIdGoods').hide();
            $('#SAveProdIDGoods').show();
            $('#TypeGoodsServices').val('Good');
            $('#TypeGoodsServices').attr('disabled', 'disabled');
            $('#CreateNewProductModalGoods').modal('show');
        }
        if (Id == "AddNewServiceSelect") {
            GoodsService = "";
            GoodsService = "Services";
            ShowServiceGood("Services");
            $('#TypeGoodsServices').attr('disabled', false);
            $('#UpdateProIdGoods').hide();
            $('#SAveProdIDGoods').show();
            $('#TypeGoodsServices').val('Services');
            $('#TypeGoodsServices').attr('disabled', 'disabled');
            $('#CreateNewProductModalGoods').modal('show');
        }
        else if (Id == "0") {

            return;
        }
        else {
            var productId = Id;
            $.ajax({
                url: "/MVCQutation/ProductPricebyId",
                type: "POST",
                cache: false,
                data: { 'ProductId': productId },
                success: function (resultData) {
                    debugger;
                    CurrentRow.find('.rateG').val(resultData);
                    calculateTotalGoods(CurrentRow);
                    CombineTotalAndSubtotal();
                    CombineTotal();
                    CalculateVateTotal();
                    vat = CurrentRow.find('.VATG').val();
                    var it = CurrentRow.find('.RowTotalG').val();
                    RowSubTalSubtotal(vat, CurrentRow);

                },
                error: function (errormessage) {

                }
            });
        }
    }

    $('#SelectProductQutationS').change(function () {

        var value = $(this).val();
        if (value == "AddNewProductSelect") {
            ShowServiceGood("  ");
            GoodsService = "";
            GoodsService = "Services";
            $('#TypeGoodsServices').attr('disabled', false);
            $('#UpdateProIdGoods').hide();
            $('#SAveProdIDGoods').show();
            $('#TypeGoodsServices').val('Services');
            $('#TypeGoodsServices').attr('disabled', 'disabled');
            $('#CreateNewProductModalGoods').modal('show');
        }
    });

    function CombineTotalAndSubtotal() {

        debugger;

        var SubTotalGoode = 0, SubTotalService = 0;

        SubTotalGoode = AddSubtotalGoods();
        SubTotalService = AddSubTotalService();

        if (isNaN(SubTotalGoode)) {
            SubTotalGoode = 0;
        }

        if (isNaN(SubTotalService)) {
            SubTotalService = 0;
        }
        var Total = parseFloat(SubTotalGoode) + parseFloat(SubTotalService);

        if (!isNaN(Total)) {

            $('#gtotal').text(Total.toFixed(2));

        }

    }

    function CombineTotal() {

        debugger;

        var TotalGoode, Total, TotalService1 = 0;
        TotalGoode = totalGoods();
        TotalService1 = TotalService();

        if (isNaN(parseFloat(TotalGoode) && typeof (TotalGoode) == "undefined")) {
            TotalGoode = 0;
        }

        if (isNaN(parseFloat(TotalService1) || typeof (TotalService1) == "undefined")) {
            TotalService1 = 0;
        }
        Total = parseFloat(TotalGoode) + parseFloat(TotalService1);

        $('#TotalBTW').text(Total.toFixed(2));
        $('#SubTotal').text(Total.toFixed(2));
    }

    function AddSubtotalGoods() {
        var SubTotalGood = 0;

        $('#orderdetailsitems  tr').each(function () {

            var Value = $(this).find(".RowTotalG").val();

            if (!isNaN(parseFloat(Value) && typeof (Value) != "undefined")) {
                SubTotalGood += parseFloat(Value)
            }
        })
        return SubTotalGood;
    }


    function AddSubTotalService() {
        var SubTotalService = 0;
        $('#QutationServiceDetail1 tr').each(function () {
            var Value = $(this).find(".RowTotalG").val();
            if (!isNaN(parseFloat(Value) && typeof (Value) != "undefined")) {
                SubTotalService += parseFloat(Value);
            }
        })
        return SubTotalService;
    }

    function totalGoods() {
        var TotalGood = 0;
        $('#orderdetailsitems  tr').each(function () {
            var Value = $(this).find(".FTotalG").val();
            if (!isNaN(parseFloat(Value) && typeof (Value) != "undefined")) {
                TotalGood += parseFloat(Value)
            }
        })
        return TotalGood;
    }

    function TotalService() {
        var TotalService = 0;
        $('#QutationServiceDetail1 tr').each(function () {
            var Value = $(this).find(".FTotalG").val();

            if (!isNaN(parseFloat(Value) && typeof (Value) != "undefined")) {
                TotalService += parseFloat(Value);
            }
        })
        return TotalService;
    }




    function AsignValueT21(NewValue, Vat, InOrOut) {

        if (InOrOut == 'AddingVat') {
            if (Vat == 21) {
                var Currnt21Value = $('#BTW21').text();

                if ((Currnt21Value) != "") {
                    var v = parseFloat(Currnt21Value) + parseFloat(NewValue);
                    $('#BTW21').text(parseFloat(v).toFixed(2));
                }
                else {
                    $('#BTW21').text(NewValue);
                }
            }
            else if (Vat == 6) {
                var Currnt21Value = $('#BTW6').text();
                if ((Currnt21Value) != '') {
                    var v = parseFloat(Currnt21Value) + parseFloat(NewValue);
                    $('#BTW6').text(parseFloat(v).toFixed(2));
                }
                else {
                    $('#BTW6').text(NewValue);
                }
            }
        }
        else if (InOrOut == "Removing") {
            if (Vat == 21) {
                var Currnt21Value = $('#BTW21').text();

                if ((Currnt21Value) != "") {
                    var v = parseFloat(Currnt21Value) - parseFloat(NewValue);
                    $('#BTW21').text(parseFloat(v).toFixed(2));
                }
                else {
                    $('#BTW21').text(NewValue);
                }
            }
            else if (Vat == 6) {
                var Currnt21Value = $('#BTW6').text();
                if ((Currnt21Value) != "") {
                    var v = parseFloat(Currnt21Value) - parseFloat(NewValue);
                    $('#BTW6').text(parseFloat(v).toFixed(2));
                }
                else {
                    $('#BTW6').text(NewValue);
                }
            }
        }
    }

    $('#orderdetailsitems').on('click', '.remove', function () {
        var currentRow = $(this).closest('tr');
        var vat = currentRow.find('.VAT  option:selected').val();
        $(this).parents('tr').remove();
        var currentRow1 = $(this).closest("tr");
        vat = currentRow1.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $('#QutationServiceDetail1').on('click', '.remove', function () {
        var currentRow = $(this).closest('tr');
        var vat = currentRow.find('.VAT  option:selected').val();
        $(this).parents('tr').remove();

        var currentRow1 = $(this).closest("tr");
        vat = currentRow1.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    var ajaxreaponse;

    $('#Submit').click(function () {
        CreateQuation("/Bills/SaveDraft", "SaveDraft");
    });


    $('#saveEmail').click(function () {
        CreateQuation("/Bills/SaveEmail", "SaveEmail");
    });

    $('#saveprintandsendtoyourselfsave').click(function () {
        CreateQuation("/Bills/SaveEmailPrint", "SaveEamilPrint");
    });




    function CreateQuation(Url, btnName) {

        var list = [], orderItem, CurrentRow;
        var formData = new FormData($('#frmAccount')[0]);
        var files = $("#uploadfile")[0];


        if (!validateFileSize()) {
            return true;
        }

        $('#orderdetailsitems .tbodyGood tr').each(function () {
            CurrentRow = $(this).closest("tr");
            if (ValidateRow(CurrentRow)) {
                orderItem = {
                    ItemId: parseInt($(this).find('.product').val()),
                    Quantity: parseInt($(this).find('.quantityG').val()),
                    Type: "Goods",
                    ServiceDate: $(this).find('.ServiceDate').val(),
                    Rate: parseInt($(this).find('.rateG').val()),
                    Total: parseFloat($(this).find('.FTotalG').val()),
                    RowSubTotal: parseFloat($(this).find('.FTotalG').val()),
                    Vat: parseFloat($(this).find('.VATG').val())
                }
                list.push(orderItem);
            }
        });


        $('#QutationServiceDetail1 .tbodyService tr').each(function () {

            CurrentRow = $(this).closest("tr");
            if (ValidateRow(CurrentRow)) {
                orderItem = {
                    ItemId: parseInt($(this).find('.product').val()),
                    Description: $(this).find('.Discription').val(),
                    Quantity: parseInt($(this).find('.quantityG').val()),
                    Type: "Service",
                    ServiceDate: $(this).find('.ServiceDate').val(),
                    Rate: parseInt($(this).find('.rateG').val()),
                    Total: parseFloat($(this).find('.FTotalG').val()),
                    RowSubTotal: parseFloat($(this).find('.FTotalG').val()),
                    Vat: parseFloat($(this).find('.VATG').val()),
                }
                list.push(orderItem);
            }
        });


        if (list.length == 0) {
            $('#BTW6').text('');
            $('#BTW21').text('');
            $('#gtotal').text('');
            $('#gtotal').text('');
        }

        var empObj = {
            Bill_ID: $('#Bill_ID').val(),
            RefNumber: $('#RefNumber').val(),
            BillDate: $('#BillDate').val(),
            BillDueDate: $('.BillDueDate').val(),
            SubTotal: $('#SubTotal').text(),
            PurchaseDiscountAmount: $('#PurchaseDiscountAmount').val(),
            TotalAmount: $('#gtotal').text(),
            CustomerNote: $('#PurchaseVenderNote').val(),
            TotalVat6: $('#BTW6').text(),
            TotalVat21: $('#BTW21').text(),
            VenderId: $('#VenderId').val(),
            CompanyId: $('#CompanyId').val(),
        };

        for (var key in empObj) {
            formData.append(key, empObj[key]);
        }
        for (var i = 0; i < list.length; i++) {

            formData.append('BillDetail[' + i + '][ItemId]', list[i].ItemId)
            formData.append('BillDetail[' + i + '][Description]', list[i].Description)
            formData.append('BillDetail[' + i + '][Type]', list[i].Type)
            formData.append('BillDetail[' + i + '][Quantity]', list[i].Quantity)
            formData.append('BillDetail[' + i + '][Rate]', list[i].Rate)
            formData.append('BillDetail[' + i + '][Total]', list[i].Total)
            formData.append('BillDetail[' + i + '][RowSubTotal]', list[i].RowSubTotal)
            formData.append('BillDetail[' + i + '][Vat]', list[i].Vat)
            formData.append('BillDetail[' + i + '][ServiceDate]', list[i].ServiceDate)
        }

        $.ajax({
            url: Url,  //"/Bills/SaveDraft",
            type: "POST",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                debugger;

                Response(response, btnName)
            }
        });
        return ajaxreaponse;
    }





    function Response(response, btnName) {
        debugger;


        if (response.Status == "Success" && btnName == "SaveDraft") {
            swal({
                title: 'Invoice!',
                text: 'Invoice save successfully!',
                type: 'success'
            },
                 function (isconform) {
                     window.location.href = "/Bills/ViewBilDetail?BillId=" + response.BillId;
                 });
        }

        if (response.Status == "Success" && btnName == "SaveEmail") {
            swal({
                title: 'Invoice!',
                text: 'Invoice save successfully!',
                type: 'success'
            },
                         function (isconform) {
                             window.location.href = "/Bills/EmailBill?ID=" + response.BillId;
                         });
        }

        if (response.Status == "Success" && btnName == "SaveEamilPrint") {
            localStorage.setItem('path', response.path);
            swal({
                title: 'Bill!',
                text: 'Bill hasbeen created successfully!',
                type: 'success'
            },
            function (isconform) {
                window.location.href = "/Bills/ViewBilDetail?BillId=" + response.id;
            });
        }
        else if (result.Status == "Fail") {

        }

        if (response.Status == "Fail") {
            alert('Fail to Create Bills');
        }
    }









    function ValidateRow(CurrentRow) {

        var Isvalid = true;
        var Produectid = 0, quantityG = 0, varrateG = 0;
        Produectid = CurrentRow.find('.product').val();
        quantityG = CurrentRow.find('.quantityG ').val();
        varrateG = CurrentRow.find('.rateG ').val();
        if (parseInt(Produectid) == 0 || Produectid == "") {
            Isvalid = false;
        }
        if (parseInt(quantityG) == 0 || quantityG == "") {
            Isvalid = false;
        }
        if (parseInt(varrateG) == 0 || varrateG == "") {
            Isvalid = false;
        }
        return Isvalid;
    }
    function validateFileSize() {
        var Isvalid = true;
        if (window.File && window.FileReader && window.FileList && window.Blob) {

            if (document.getElementById("uploadfile").files.length != 0) {

                //get the file size and file type from file input field
                var fsize = $('#uploadfile')[0].files[0].size;
                var ftype = $('#uploadfile')[0].files[0].type;
                var fname = $('#uploadfile')[0].files[0].name;

                if (fsize > 1048576) //do something if file size more than 1 mb (1048576)
                {
                    Isvalid = false;

                    alert("Type :" + ftype + " | " + fsize + " bites\n(File: " + fname + ") Too big!");
                }
                else {
                    Isvalid = true;
                }
            }
            return Isvalid;
        }
    }

</script>


<script>
    $(document).ready(function () {
        $('.ServiceDate').datepicker({
            changeMonth: true,
            changeYear: true,
            gotoCurrent: true,
            datetime: new Date(),
            dateFormat: 'dd/mm/yy',
        }).datepicker("setDate", new Date());
        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });

    $(document).ready(function () {
        $('.BillDate').datepicker({
            changeMonth: true,
            changeYear: true,
            gotoCurrent: true,

            dateFormat: 'dd/mm/yy',
        });
        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });



    $(document).ready(function () {
        $('.BillDueDate').datepicker({
            changeMonth: true,
            changeYear: true,
            gotoCurrent: true,

            dateFormat: 'dd/mm/yy',
        });
        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });


    $('body').on('focus', ".ss", function () {

        $(this).closest('tr').find(':input').removeClass('hasDatepicker');
        $(this).datepicker({
            changeMonth: true,
            changeYear: true,
            gotoCurrent: true,
            dateFormat: 'dd/mm/yy',
        });
        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });





    function validateFileSize() {
        var Isvalid = true;
        if (window.File && window.FileReader && window.FileList && window.Blob) {

            if (document.getElementById("uploadfile").files.length != 0) {

                //get the file size and file type from file input field
                var fsize = $('#uploadfile')[0].files[0].size;
                var ftype = $('#uploadfile')[0].files[0].type;
                var fname = $('#uploadfile')[0].files[0].name;

                if (fsize > 1048576) //do something if file size more than 1 mb (1048576)
                {
                    Isvalid = false;

                    alert("Type :" + ftype + " | " + fsize + " bites\n(File: " + fname + ") Too big!");
                }
                else {
                    Isvalid = true;
                }
            }
            return Isvalid;
        }
    }

</script>






<script>

    $(document).ready(function () {
        $('#BillDate').datepicker({
            changeMonth: true,
            changeYear: true,
            gotoCurrent: true,
            datetime: new Date(),
            dateFormat: 'dd/mm/yy',
        });

        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });



    $(document).ready(function () {
        $('#BillDueDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy/mm/dd'
        }).datepicker();
        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });






    $('body').on('focus', ".ss", function () {

        $(this).closest('tr').find(':input').removeClass('hasDatepicker');
        $(this).datepicker({
            changeMonth: true,
            changeYear: true,
            gotoCurrent: true,
            dateFormat: 'dd/mm/yy',
        });
        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });





</script>




