
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var BillModel = ViewBag.BilllData;
}

@using (Html.BeginForm("DownloadFile", "Bills", FormMethod.Post, new { id = "DownloadFile1" }))
{
    <input type="hidden" name="FilePath1" id="FilePath" />
    <button type="submit" id="downloadf" class="hidden" style="visibility:hidden;"></button>
}

<div class="row">
    @if(TempData["EmailMessge"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong>@TempData["EmailMessge"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

<div class="container">
    <div class="row" style="margin-bottom:5px">
        <div class="col-md-12">
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:150px">
                        <i class="fa fa-envelope" style="margin-right:40px;color:yellow"></i>
                        Send
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Bills/EmailBill/?Id=@BillModel.BilID">Send by Email</a>
                        <a class="dropdown-item" href="/Bills/Print/?id=@BillModel.BilID">Print and send it yourself</a>
                        <div class="dropdown-divider"></div>

                    </div>
                </div>
                <div style="margin-left:3px">
                    <div class="btn-group">
                        <i class="fa fa-print btn btn-success" aria-hidden="true" style="color:yellow"></i>
                       @Html.ActionLink("print concept", "Print", "Bills", new { id = BillModel.BilID }, new { @class = "btn btn-success" })
                    </div>
                </div>
                <div style="margin-left:3px">
                    <a href="/Bills/Edit/@BillModel.BilID" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true" style="margin-right:10px;color:yellow"></i>Change</a>
                </div>
                <div style="margin-left:3px">
                    <a href="/Bills/Index" class="btn btn-success" visibility:hidden;" id="BackToHome"><i class="fa fa-angle-double-left" style="margin-right:5px;color:yellow"></i>Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="border:1px solid black">
        <div class="col-md-12">
            @Html.Partial("~/Views/Shared/PartialViews/HeaderPartial.cshtml")

            @{
                List<InvoiceDiskLast.Models.BillDetailViewModel> InvoiceListGoods = new List<InvoiceDiskLast.Models.BillDetailViewModel>();
            }
            @if (ViewBag.BillDetail != null)
            {
                InvoiceListGoods = ViewBag.BillDetail as List<InvoiceDiskLast.Models.BillDetailViewModel>;

                InvoiceListGoods = InvoiceListGoods.Where(G => G.Type == "Goods").ToList();

                if (InvoiceListGoods != null && InvoiceListGoods.Count > 0)
                {

                    <div class="table-responsive" style="clear: both">
                        <table class="table table-hover" id="orderdetailsitems">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        Goederen
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Prijs
                                    </th>
                                    <th>
                                        Totaal
                                    </th>
                                    <th>
                                        BTW%
                                    </th>
                                    <th>
                                        Subtotaal
                                    </th>

                                </tr>
                            </thead>

                            <tbody class="tbody">

                                @foreach (var item in ViewBag.BillDetail)
                                {
                                    if (item.Type == "Goods")
                                    {
                                        <tr id="mainrow">
                                            <td>

                                                @item.ItemName
                                            </td>
                                            <td>
                                                @item.Quantity
                                            </td>
                                            <td>
                                                @item.Rate
                                            </td>
                                            <td>
                                                @item.Total
                                            </td>
                                            <td>
                                                @item.Vat
                                            </td>
                                            <td>
                                                @item.RowSubTotal
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                }
            }

            @if (ViewBag.BillDetail != null)
            {
                InvoiceListGoods = ViewBag.BillDetail as List<InvoiceDiskLast.Models.BillDetailViewModel>;

                InvoiceListGoods = InvoiceListGoods.Where(G => G.Type == "Service").ToList();

                if (InvoiceListGoods != null && InvoiceListGoods.Count > 0)
                {

                    <div class="table-responsive" style="clear: both">
                        <table class="table table-hover" id="QutationServiceDetail1">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Datam</th>
                                    <th>
                                        Diensten
                                    </th>
                                    <th>Omschrijving</th>
                                    <th>
                                        uur
                                    </th>
                                    <th>
                                        Uurprijs
                                    </th>
                                    <th>
                                        Totaal
                                    </th>
                                    <th>
                                        BTW %
                                    </th>
                                    <th>
                                        Subtotaal
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>

                            @foreach (var item in ViewBag.BillDetail)
                            {
                                if (item.Type == "Service")
                                {
                                    DateTime dt = new DateTime();
                                    dt = Convert.ToDateTime(item.ServiceDate);                                   
                                        
                                    <tr id="mainrow">
                                        <td>
                                            @dt.ToShortDateString()
                                        </td>                                     
                                        <td>

                                            @item.ItemName
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>

                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @item.Rate
                                        </td>
                                        <td>
                                            @item.Total
                                        </td>
                                        <td>
                                            @item.Vat
                                        </td>
                                        <td>
                                            @item.RowSubTotal
                                        </td>
                                    </tr>
                                }

                            }
                        </table>
                    </div>
                }
            }
            @Html.Partial("~/Views/Shared/PartialViews/ViewFilePartialView.cshtml")
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var patth = localStorage.getItem('path');
        $("#FilePath").val(patth);
        if ($('input#FilePath').val() == "") {
        }
        else {
            $('#DownloadFile1').submit();
            $("#FilePath").val('');
            localStorage.removeItem('path');
        }
    });

</script>
