
@{
    ViewBag.Title = "ViewQuation";
}
@model InvoiceDiskLast.Models.MVCQutationViewModel

@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var QutationModel = ViewBag.QutationDat;
}

<div class="row">
    <div class="col-2 b-r">
        @*two*@
    </div>
    <div class="col-8 b-r" style="border:1px solid Silver">
        <div class="container">

            <div class="row" style="margin-top:35px">
                <div class="col-12 b-r HeadText">
                    <label>Qutation invoice</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-7 b-r">
                    <img src="@Url.Content("~/Images/"+ CompanyDatas.CompanyLogo)" id="targetImg" />
                    <div class="row clientInfo" style="margin-top:30px">
                        <div class="col-12 b-r">@Contectdatas.ContactName</div>
                    </div>
                    <div class="row">
                        <div class="col-12 b-r">
                            @Contectdatas.ContactAddress
                            <br />
                            @Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City,

                        </div>
                    </div>


                    <div class="row" style="margin-top:20px">
                        <div class="col-4 b-r">
                            Invoice Date:
                        </div>

                        @{
                            DateTime Qdate = new DateTime();
                            Qdate = Convert.ToDateTime(QutationModel.QutationDate);
                            DateTime Qddate = new DateTime();
                            Qddate = Convert.ToDateTime(QutationModel.DueDate);
                        }
                        <div class="col-6 b-r">
                            @Qdate.ToShortDateString();
                        </div>
                        <div class="col-2 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-4 b-r">
                            Invoice Number:
                        </div>
                        <div class="col-8 b-r">
                            @QutationModel.Qutation_ID
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 b-r">
                            Due Date:
                        </div>
                        <div class="col-8 b-r">
                            @Qddate.ToShortDateString();
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 b-r">
                            Reference Number:
                        </div>
                        <div class="col-8 b-r">
                            @QutationModel.RefNumber
                        </div>
                    </div>
                </div>

                <div class="col-5 b-r">
                    <div class="row">
                        <div class="col-3 b-r"></div>
                        <div class="col-7 b-r CmpColor">@CompanyDatas.CompanyName</div>
                        <div class="col-2 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">kvk nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.KVK</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.BTW</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">IBAN:</div>
                        <div class="col-7 b-r">@CompanyDatas.IBANNumber</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BIC:</div>
                        <div class="col-7 b-r">@CompanyDatas.BIC</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Telephone:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyPhone</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Cell:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyCell</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">E-mail:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyEmail</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Website:</div>
                        <div class="col-7 b-r">@CompanyDatas.Website</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Address:</div>
                        <div class="col-7 b-r">
                            @CompanyDatas.CompanyAddress<br />
                            @CompanyDatas.PostalCode   @CompanyDatas.CompanyCity <br />
                            @CompanyDatas.CompanyCountry
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top:10px">
                <div class="col-12 b-r">
                    will receive the Invoice from us for the Goods below.
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>

                            <tr>
                                <th width="400px">
                                   Goods
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Vat%
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewBag.QutationDatailsList != null)
                            {
                                foreach (var item in ViewBag.QutationDatailsList)
                                {
                                    <tr id="mainrow">
                                        <td>
                                            @item.ItemName
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @item.Rate
                                        </td>
                                        <td>
                                            @item.Total
                                        </td>
                                        <td>
                                            @item.Vat
                                        </td>


                                    </tr>
                                }
                            }

                        </tbody>

                    </table>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-6 b-r">

                </div>
                <div class="col-5 b-r">
                    <div class="row">
                        <div class="col-4 b-r text-right">Total excl. VAT:&euro;</div>
                        <div class="col-7 b-r text-right">@QutationModel.SubTotal</div>
                        <div class="col-1 b-r">
                        </div>
                    </div>
                    @if (QutationModel.TotalVat6 != 0 && QutationModel.TotalVat6 != null)
                    {
                        <div class="row">
                            <div class="col-4 b-r text-right">VAT 6%:&euro;</div>
                            <div class="col-7 b-r text-right">@QutationModel.TotalVat6</div>
                            <div class="col-1 b-r">
                            </div>
                        </div>
                    }

                    @if (QutationModel.TotalVat21 != 0 && QutationModel.TotalVat21 != null)
                    {
                        <div class="row">
                            <div class="col-4 b-r text-right">VAT 21%:&euro;</div>
                            <div class="col-7 b-r text-right">@QutationModel.TotalVat21</div>
                            <div class="col-1 b-r">
                            </div>
                        </div>
                    }

                    <hr />
                    <div class="row Grand-color">
                        <div class="col-4 b-r text-right">Grand Total:</div>
                        <div class="col-7 b-r text-right">&euro;:@QutationModel.TotalAmount</div>
                        <div class="col-1 b-r">
                        </div>
                    </div>

                </div>
                <div class="col-6 b-r"></div>
                </div>
        </div>
    </div>
    <div class="col-2 b-r">
        @*two*@
    </div>
</div>



