
@{
    Layout = null;
}



@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var QutationModel = ViewBag.QutationDat;

}

<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        tr {
            page-break-inside: avoid;
        }
    </style>
</head>
<body>

    <div style="margin-top:10px;">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
                <img src="@Url.Content("~/Images/"+ @CompanyDatas.CompanyLogo)" class="img-responsive" id="targetImg" style="border:none; margin-top:50px" />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />


                @Contectdatas.ContactName
                <br />
                @Contectdatas.ContactAddress
                <br />
                @Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City,
                <br />
                @Contectdatas.PostalCode

                <div></div>

            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-5">
                <br />
                <br />
                <br />
                <h5 style="margin-left:125px">@CompanyDatas.CompanyName</h5>
                <hr />
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3 text-right">Kvk nr:</div>
                    <div class="col-xs-7">@CompanyDatas.KVK</div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3 text-right">BTW nr:</div>
                    <div class="col-xs-7">@CompanyDatas.BTW</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">Bank:</div>
                    <div class="col-xs-7">@CompanyDatas.BankName</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">IBAN:</div>
                    <div class="col-xs-7">@CompanyDatas.IBANNumber</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">BIC:</div>
                    <div class="col-xs-7">@CompanyDatas.BIC</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">Tel:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyPhone</div>
                </div>

                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">Cel:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyCell</div>
                </div>

                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3 text-right">E-mail:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyEmail</div>
                </div>

                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3 text-right">Website:</div>
                    <div class="col-xs-7">@CompanyDatas.Website</div>
                </div>

                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-4 text-right">
                        Bezoekadres:
                    </div>
                    <div class="col-xs-7">
                        @CompanyDatas.CompanyAddress<br />
                        @CompanyDatas.PostalCode   @CompanyDatas.CompanyCity <br />
                        @CompanyDatas.CompanyCountry
                    </div>
                </div>


            </div>
        </div>

        <div class="row" style="margin-right: 0px;margin-left: 50px;">

            <label style="margin-left:16px"><b>Factuur</b></label>

        </div>
        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 10px;">

            <div class="col-xs-2">
                <label>Factuurdatum</label><br />
                <label>Factuurnummer</label><br />
                <label>Vervalidatum</label>
            </div>
            <div class="col-xs-3">
                <label>@QutationModel.QutationDate</label><br />
                <label>@QutationModel.RefNumber</label><br />
                <label>@QutationModel.DueDate</label>
            </div>
        </div>
        <div class="row" style="margin-right: 50px; margin-left:50px;">
            ontvangt de offerte van ons voor de onderstaande services.

            <table id="mytable" class="table table-bordred table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="col-xs-4">
                            productnaam
                        </th>
                        <th class="col-xs-2">
                            Quantity
                        </th>
                        <th class="col-xs-2">
                            Prijs
                        </th>
                        <th class="col-xs-2">
                            Totaal
                        </th>
                        <th class="col-xs-1">
                            Vat
                        </th>
                        <th class="col-xs-1">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowcount = 0;
                    }
                    @if (ViewBag.QutationDatailsList != null)
                    {
                        foreach (var item in ViewBag.QutationDatailsList)
                        {

                            rowcount += 1;
                            if (rowcount == 14)
                            {
                                rowcount = 0;
                                <tr style="page-break-after:always; margin-left:100px;"></tr>
                            }

                            <tr>
                                <td>
                                    @item.ItemName
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.Rate
                                </td>
                                <td>
                                    @item.Total
                                </td>
                                <td>
                                    @item.Vat
                                </td>

                                <td>
                                    <input type="hidden" class="QutationDetailId" value="@item.QutationDetailId" />
                                </td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
            <div class="col-xs-8"></div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-3">
                        <label class="tex pull-right">Total excl. VAT:€</label>
                    </div>
                    <div class="col-xs-3">
                        <label class="tex pull-right">@QutationModel.SubTotal</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6"></div>
                    @if (QutationModel.TotalVat6 != 0 && QutationModel.TotalVat6 != null)
                    {
                        <div class="col-xs-3">
                            <label class="tex pull-right">VAT 6%:	€	</label>
                        </div>
                        <div class="col-xs-3 ">
                            <label class="tex pull-right">@QutationModel.TotalVat6</label>
                        </div>
                    }
                </div>

                <div class="row">
                    <div class="col-xs-6"></div>
                    @if (QutationModel.TotalVat21 != 0 && QutationModel.TotalVat21 != null)
                    {
                        <div class="col-xs-3">
                            <label class="tex pull-right">VAT 21%:	€</label>
                        </div>
                        <div class="col-xs-3">
                            <label class="tex pull-right">@QutationModel.TotalVat21</label>

                        </div>
                    }


                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-3">
                        <label class="tex pull-right">Eindtotaal:€</label>
                    </div>

                    <div class="col-xs-3">
                        <label class="tex  pull-right">@QutationModel.TotalAmount</label>

                    </div>
                </div>
            </div>

        </div>



        @*<div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
                <div class="col-xs-4 col-xs-offset-4 text-center">
                    <p>Total: &euro;:0.00</p>
                </div>
            </div>*@

        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 20px;">
            We hopen dat alles duidelijk is. Laat het ons weten als u vragen heeft.
        </div>


        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 20px;">
            Met vriendelijke groet,
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 20px;">
            <h4>@Contectdatas.ContactName</h4>
            <h4>@CompanyDatas.CompanyName </h4>
        </div>

    </div>
</body>
</html>
