
@{
    Layout = null;
}



@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var QutationModel = ViewBag.QutationDat;

}

<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>

    <div style="margin-top:10px;border: 1px solid #CECECE;">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
                <img src="@Url.Content("~/Images/"+ @CompanyDatas.CompanyLogo)" class="img-responsive" id="targetImg" style="height:100px; width:100px;border:none" />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />


                @Contectdatas.ContactName
                <br />
                @Contectdatas.ContactAddress
                <br />
                @Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City,
                <br />
                @Contectdatas.PostalCode


            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <br />
                <br />
                <br />
                <h5 style="margin-left:125px">@CompanyDatas.CompanyName</h5>
                <hr />
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Kvk nr:</div>
                    <div class="col-xs-7">@CompanyDatas.KVK</div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">BTW nr:</div>
                    <div class="col-xs-7">@CompanyDatas.BTW</div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Bank:</div>
                    <div class="col-xs-7">@CompanyDatas.BankName</div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">IBAN:</div>
                    <div class="col-xs-7">@CompanyDatas.IBANNumber</div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">BIC:</div>
                    <div class="col-xs-7">@CompanyDatas.BIC</div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Tel:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyPhone</div>
                </div>

                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Cel:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyCell</div>
                </div>

                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">E-mail:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyCell</div>
                </div>

                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Website:</div>
                    <div class="col-xs-7">@CompanyDatas.Website</div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        Bezoekadres:
                    </div>
                    <div class="col-xs-8">
                        @CompanyDatas.CompanyAddress<br />
                        @CompanyDatas.PostalCode   @CompanyDatas.CompanyCity <br />
                        @CompanyDatas.CompanyCountry
                    </div>
                </div>


            </div>
        </div>

        <div class="row" style="margin-right: 0px;margin-left: 50px;">

           <label><b>Qutation</b></label>
           
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 10px;">

            <div class="col-xs-2">
                <label>offer Date</label><br />
                <label>offer number</label><br />
                <label>valid untill</label>
            </div>
            <div class="col-xs-3">
                <label>@QutationModel.QutationDate</label><br />
                <label>@QutationModel.RefNumber</label><br />
                <label>@QutationModel.DueDate</label>
            </div>
        </div>
        <div class="row" style="margin-right: 66px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
            will receive the quotation from us for the services below.

            <table id="mytable" class="table table-bordred table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="col-xs-4">
                            Product Name
                        </th>
                        <th class="col-xs-2">
                            Quantity
                        </th>
                        <th class="col-xs-2">
                            Price
                        </th>
                        <th class="col-xs-2">
                            Total
                        </th>
                        <th class="col-xs-1">
                            Vat
                        </th>
                        <th class="col-xs-1">
                         
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @if (ViewBag.QutationDatailsList != null)
                    {
                        foreach (var item in ViewBag.QutationDatailsList)
                        {
                            <tr id="mainrow">
                                <td>
                                    @item.ItemName
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.Rate
                                </td>
                                <td>
                                    @item.Total
                                </td>
                                <td>
                                    @item.Vat
                                </td>

                                <td>
                                    <input type="hidden" class="QutationDetailId" value="@item.QutationDetailId" />
                                </td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
            <div class="col-xs-8"></div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6"></div>
                        <div class="col-xs-3">
                            <label class="tex pull-right">Total excl. VAT:€</label>
                        </div>
                        <div class="col-xs-3">
                            <label class="tex pull-right">@QutationModel.SubTotal</label>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-xs-6"></div>
                    @if (QutationModel.TotalVat6 != 0 && QutationModel.TotalVat6 != null)
                    {
                        <div class="col-xs-3">
                            <label class="tex pull-right">VAT 6%:	€	</label>
                        </div>
                        <div class="col-xs-3 ">
                            <label class="tex pull-right">@QutationModel.TotalVat6</label>
                        </div>
                    }
                </div>

                <div class="row">
                    <div class="col-xs-6"></div>
                    @if (QutationModel.TotalVat21 != 0 && QutationModel.TotalVat21 != null)
                    {
                        <div class="col-xs-3">
                            <label class="tex pull-right">VAT 21%:	€</label>
                        </div>
                        <div class="col-xs-3">
                            <label class="tex pull-right">@QutationModel.TotalVat21</label>

                        </div>
                    }


                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-3">
                        <label class="tex pull-right">Grand Total:€</label>
                    </div>

                    <div class="col-xs-3">
                        <label class="tex  pull-right">@QutationModel.TotalAmount</label>

                    </div>
                </div>
            </div>

        </div>



        @*<div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
                <div class="col-xs-4 col-xs-offset-4 text-center">
                    <p>Total: &euro;:0.00</p>
                </div>
            </div>*@

        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 20px;">
            We hope that everything is clear. If you have any questions, please let us know.
        </div>


        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 20px;">
            With kind regards,
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 20px;">
            <h4>@Contectdatas.ContactName</h4>
            <h4>@CompanyDatas.CompanyName </h4>
        </div>
        <hr style="border:solid 1px; margin-left:30px;margin-right:30px; margin-bottom:50px" />
    </div>
</body>
</html>
