@model InvoiceDiskLast.Models.MVCQutationViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
}

<div class="row">
    <div class="col-2 b-r">
        @*two*@
    </div>
    <div class="col-8 b-r" style="border:1px solid Silver">
        <div class="container">

            <div class="row" style="margin-top:10px">
                <div class="col-7 b-r">

                    <img src="@Url.Content("~/Images/" + @CompanyDatas.CompanyLogo)" class="image-Size" id="targetImg" style="border:none" />

                    <div class="row clientInfo">
                        <div class="col-12 b-r HeadText">Qutation</div>
                    </div>
                    <div class="row clientInfo" style="margin-top:10px">
                        <div class="col-12 b-r">@Contectdatas.ContactName</div>
                    </div>
                    <div class="row">
                        <div class="col-12 b-r">@Contectdatas.ContactAddress <br />@Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City</div>
                    </div>


                    <div class="row" style="margin-top:20px">
                        <div class="col-3 b-r">
                            Qutation Date:
                        </div>
                        <div class="col-6 b-r">
                            @Html.EditorFor(model => model.QutationDate, new { htmlAttributes = new { @style = "font-size:12px", @class = "form-control MAterialDatepicker Input-height", id = "QutationDate" } })
                            @Html.ValidationMessageFor(model => model.QutationDate, "", new { @class = "text-danger" })


                        </div>
                        <div class="col-3 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-3 b-r">
                            Qutation Number:
                        </div>
                        <div class="col-6 b-r">
                            @Html.EditorFor(model => model.Qutation_ID, new { htmlAttributes = new { @class = "form-control Input-height", id = "Qutation_ID" } })
                            @Html.ValidationMessageFor(model => model.Qutation_ID, "", new { @class = "text-danger" })


                        </div>
                        <div class="col-3 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-3 b-r">
                            Due Date:
                        </div>
                        <div class="col-6 b-r">
                            @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @style = "font-size:12px", @class = "form-control MAterialDatepicker Input-height", id = "DueDate", title = "Due Date" } })
                            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })


                        </div>
                        <div class="col-3 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-3 b-r">
                            Reference No:
                        </div>
                        <div class="col-6 b-r">
                            @Html.EditorFor(Model => Model.RefNumber, new { htmlAttributes = new { @style = "font-size:12px", @class = "form-control Input-height", id = "RefNumber" } })
                            @Html.ValidationMessageFor(model => model.RefNumber, "", new { @class = "text-danger" })


                        </div>
                        <div class="col-3 b-r"></div>
                    </div>
                </div>

                <div class="col-5 b-r">
                    <div class="row" style="margin-top:33px">
                        <div class="col-3 b-r"></div>
                        <div class="col-7 b-r CmpColor">@CompanyDatas.CompanyName</div>
                        <div class="col-2 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Kvk nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.KVK</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.BTW</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Bank:</div>
                        <div class="col-7 b-r">@CompanyDatas.BankName</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">IBAN No:</div>
                        <div class="col-7 b-r">@CompanyDatas.IBANNumber</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BIC No:</div>
                        <div class="col-7 b-r">@CompanyDatas.BIC</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Telephone:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyPhone</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Cell No:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyCell</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">E-mail:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyEmail</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Website:</div>
                        <div class="col-7 b-r">@CompanyDatas.Website</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Address:</div>
                        <div class="col-7 b-r">
                            @CompanyDatas.CompanyAddress<br />
                            @CompanyDatas.PostalCode,@CompanyDatas.CompanyCity <br />
                            @CompanyDatas.CompanyCountry
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 b-r">
                    <table class="table" id="orderdetailsitems">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    Goods
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Vat%
                                </th>
                                <th>
                                    Sub
                                </th>
                                <th>
                                    Action
                                </th>
                              
                            </tr>
                        </thead>
                        <tbody class="tbody">

                            @if (ViewBag.QutationDatailsList != null)
                            {
                                foreach (var item in ViewBag.QutationDatailsList)
                                {
                                    <tr id="@item.QutationDetailId">
                                        <td>
                                            <select Id="SelectProductQutationG" class="product form-control Input-height" style="width:300px !important;font-size:12px">
                                                <option value="0">Select Item..</option>
                                                @foreach (var product in ViewBag.Product)
                                                {
                                                    <option value="@product.ProductId" @(product.ProductId == item.ItemId ? "selected='selected'" : "")>@product.ProductName</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="quantityG form-control Input-height" id="QuantityG" value="@item.Quantity" style="font-size:12px" />
                                        </td>
                                        <td>
                                            <input type="text" class="rateG form-control Input-height" id="Rate" value="@item.Rate" style="font-size:12px" />
                                        </td>
                                        <td>
                                            <input type="text" class="FTotalG form-control Input-height" id="FTotalG" value="@item.Total" readonly="readonly" style="font-size:12px" />
                                        </td>
                                        <td>
                                            <select id="SelectVATG" name="NewsCategoriesID" class="VATG  form-control Input-height" style="width:80px;font-size:12px">

                                                @foreach (var item1 in ViewBag.VatDrop)
                                                {
                                                    <option value="@item1.Vat1" @(item1.Vat1 == item.Vat ? "selected='selected'" : "")>@item1.Name</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" id="RemoveEditG" class="btn btn-danger">Remove</button>
                                        </td>
                                        <td>
                                            <input type="hidden" class="QutationDetailIdG" value="@item.QutationDetailId" />
                                        </td>
                                        <td>
                                            <input type="hidden" class="QutationIDG" value="@item.QutationID" />
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                        <tr id="mainrow">
                            <td>
                                <select id="SelectProductQutationG" class="product form-control pClassG Input-height" style="width: 300px;font-size:12px"></select>
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @style = "font-size:12px", @type = "text", @class = "quantityG form-control Input-height", id = "QuantityG" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @style = "font-size:12px", @class = "rateG form-control Input-height", id = "RateG" } })
                                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @style = "font-size:12px", @class = "FTotalG form-control Input-height", id = "FTotalG", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                <select id="SelectVATG" class="VATG form-control Input-height" style="width:60px;font-size:12px">
                                    <option>0</option>
                                    <option>6</option>
                                    <option>21</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" readonly id="RowTotalG" class="form-control Input-height" style="width:80px" />
                            </td>
                            <td>
                                <input type="button" id="btnaddGoods" value="+" class="btn-height" style="width:50px" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-1 b-r"></div>
                    <div class="col-11 b-r">
                        <div id="OrderItems">
                            <table class="table" id="orderdetailsitems"></table>
                            <span id="orderItemError" style="color:red"></span>
                        </div>
                    </div>
                </div>
            </div>


            Service table
            <hr />
            <div class="row">
                <div class="col-12 b-r">
                    <table class="table" id="QutationServiceDetail1">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    Services
                                </th>
                                <th>
                                    Number Of hour
                                </th>
                                <th>
                                    Hourly rate
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Vat %
                                </th>
                                <th>
                                    Sub
                                </th>
                                <th>
                                    Action
                                </th>



                            </tr>
                        </thead>
                        <tbody class="tbody">

                            @if (ViewBag.QutationDatailsList != null)
                            {
                                foreach (var item in ViewBag.QutationDatailsList)
                                {
                                    <tr id="@item.QutationDetailId">
                                        <td>
                                            <select Id="SelectProductQutationS" class="productS form-control Input-height" style="width:300px !important;font-size:12px">
                                                <option value="0">Select Item..</option>
                                                @foreach (var product in ViewBag.Product)
                                                {
                                                    <option value="@product.ProductId" @(product.ProductId == item.ItemId ? "selected='selected'" : "")>@product.ProductName</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="quantityS form-control Input-height" id="QuantityS" value="@item.Quantity" style="font-size:12px" />
                                        </td>
                                        <td>
                                            <input type="text" class="rateS form-control Input-height" id="RateS" value="@item.Rate" style="font-size:12px" />
                                        </td>
                                        <td>
                                            <input type="text" class="FTotalS form-control Input-height" id="FTotalS" value="@item.Total" readonly="readonly" style="font-size:12px" />
                                        </td>
                                        <td>
                                            <select id="SelectVATs" name="NewsCategoriesID" class="VATS  form-control Input-height" style="width:80px;font-size:12px">

                                                @foreach (var item1 in ViewBag.VatDrop)
                                                {
                                                    <option value="@item1.Vat1" @(item1.Vat1 == item.Vat ? "selected='selected'" : "")>@item1.Name</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" id="RemoveEditS" class="btn btn-danger">Remove</button>
                                        </td>
                                        <td>
                                            <input type="hidden" class="QutationDetailIdS" value="@item.QutationDetailId" />
                                        </td>
                                        <td>
                                            <input type="hidden" class="QutationIDS" value="@item.QutationID" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tr id="mainrow1">
                            <td>
                                <select id="SelectProductQutationS" class="product form-control pClassS Input-height" style="width: 300px;font-size:12px"></select>
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @style = "font-size:12px", @type = "text", @class = "quantityS form-control Input-height", id = "QuantityS" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @style = "font-size:12px", @class = "rateS form-control Input-height", id = "RateS" } })
                                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @style = "font-size:12px", @class = "FTotalS form-control Input-height", id = "FTotalS", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                <select id="SelectVATS" class="VATS form-control Input-height" style="width:60px;font-size:12px">
                                    <option>0</option>
                                    <option>6</option>
                                    <option>21</option>
                                </select>
                            </td>
                            @*<td>
                                    <input type="text" readonly id="RowTotalS" class="form-control Input-height" style="width:60px" />
                                </td>*@
                            <td>
                                <input type="text" readonly id="RowTotalS" class="form-control Input-height" style="width:80px" />
                            </td>
                            <td>

                                <input type="button" id="btnSerVice" value="+" class="btn-height" style="width:50px" />

                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-1 b-r">
                    <div class="col-11 b-r">
                        <div class="row">
                            <div id="OrderItems">
                                <table class="table" id="QutationServiceDetail1"></table>
                                <span id="orderItemError" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-8 b-r">
                    <div class="row">
                        <div class="col-3 b-r">Customer Notes:</div>
                        <div class="col-9 b-r">
                            @Html.TextAreaFor(model => model.CustomerNote, new { htmlAttributes = new { @style = "font-size:12px", @class = "form-control", id = "CustomerNote" } })
                            @Html.ValidationMessageFor(model => model.CustomerNote, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-4 b-r">
                    <div class="row">
                        <div class="col-5 b-r text-right">Sub Total:</div>
                        <div class="col-7 b-r text-right"><label id="SubTotal">@Model.SubTotal</label></div>

                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Totaal excel btw:</div>
                        <div class="col-7 b-r text-right">
                            <label id="TotalBTW">@Model.SubTotal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW0%:</div>
                        <div class="col-7 b-r text-right">
                            <label id="btwo">0.00</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW 6%:</div>
                        <div class="col-7 b-r text-right">
                            <label id="BTW6">@Model.TotalVat6</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW 21%:</div>
                        <div class="col-7 b-r text-right">
                            <label id="BTW21">@Model.TotalVat21</label>
                        </div>
                    </div>

                    <div class="row Grand-color">
                        <div class="col-5 b-r text-right">Grand Total:</div>
                        <div class="col-7 b-r text-right">
                            <span style="margin-top:1px"><b>&euro;</b></span><label id="gtotal">@Model.TotalAmount</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 b-r">
        @*two*@
    </div>
</div>

<div class="row" style="margin-top:5px">
    <div class="col-2 b-r"></div>
    <div class="col-8 b-r">
        <div class="pull-right">
            <div class="btn-group">
                <button id="Submit" type="button" class="btn btn-success"><span><i class="fa fa-save fa-backgroun" style="margin-right:5px"></i></span>Save Draft</button>
            </div>
            <button id="saveEmail" type="button" value="Save + email" class="btn btn-success" style="margin:0px 5px"><span><i class="fa fa-envelope fa-backgroun" style="margin-right:5px"></i></span>Save + E-mail</button>
            <button id="saveprintandsendtoyourselfsave" type="button" class="btn btn-success" style="margin:0px 5px"><span><i class="fa fa-save fa-backgroun" style="margin-right:5px"></i></span>Save + print and send and send ot yourself</button>
        </div>
    </div>
    <div class="col-2 b-r"></div>
</div>

<script type="text/javascript">
    var Currentrow, Total, vat, Price, Quantity = 0;
    $(document).ready(function () {
        LoadProductS();
        LoadProductG();
    });
    //Goodgs


    var VAT21VAlUE, VAT6VAlUE;
    $('#btnaddGoods').click(function () {

        currentRow1 = $(this).closest("tr");      
        var VAT = Currentrow.find('.VATG').val();
        AddingVatValue(VAT, currentRow1);

        var isAllValid = true;
        if ($("#mainrow #SelectProductQutationG").val() == "0") {
            isAllValid = false;
            alert("Please select Item");
            return;
        }

        var isAllValid = true;
        if ($("#mainrow .quantityG").val() == 0) {
            isAllValid = false;

            alert("Please provide quantityG");
            return;
        }
        var isAllValid = true;
        if ($("#mainrow .rateG").val() == 0) {
            isAllValid = false;
            alert("Please select provide rate");
            return;
        }

        if (isAllValid) {
            var $newRow = $("#mainrow").clone().removeAttr('id');
            $('#SelectProductQutationG', $newRow).val($("#SelectProductQutationG").val());
            $('.VATG', $newRow).val($("#mainrow #SelectVATG").val());
            //Replace add button with remove button
            $("#btnaddGoods", $newRow).addClass('remove').val('x').removeClass('btn-success').addClass('btn-height-Remove');
            //Remove id attribute from new clone row
            $("#SelectProductQutationG,#QuantityG,#RateG,#FTotalG,#SelectVATG", $newRow).removeAttr('id');
            $('span.error', $newRow).remove();
            $('#orderdetailsitems').append($newRow);

            $(".FTotalG").prop('disabled', true);
            $('#mainrow #SelectProductQutationG').val('0');
            $('#mainrow .quantityG').val('');
            $('#mainrow #RateG').val('');
            $('#mainrow .FTotalG').val('');
            $('#mainrow .quantityG').val('');
            $('#mainrow #RowTotalG').val('');

            if ($('#orderItemError').text != '') {
                $('#orderItemError').text('');
            }
            $('#mainrow #SelectVATG').val(0);

           
            calculatevatGoods();


        }

    });

    $('#mainrow .quantityG').keyup(function () {

        Currentrow = $(this).closest("tr");
        calculateTotalGoods(Currentrow);
    });

    $('#mainrow .rateG').keyup(function () {

        Currentrow = $(this).closest("tr");
        calculateTotalGoods(Currentrow);
    });


    function calculateTotalGoods(currentRow) {
        Quantity = Currentrow.find(".quantityG").val(),
        Price = Currentrow.find('.rateG').val();
        Total = parseFloat(Quantity * Price);
        Currentrow.find('.FTotalG').val(Total);
    }

    function RowSubTalSubtotal(vat, CurrentRow) {

        Total = Currentrow.find(".FTotalG").val();
        if (parseInt(vat) == 0) {
            Currentrow.find('#RowTotalG').val(Total);
            return;
        }
        var InputVatValue = parseFloat((Total / 100) * vat);

        var ValueWTV = parseFloat(InputVatValue) + parseFloat(Total);


        Currentrow.find('#RowTotalG').val(parseFloat(ValueWTV).toFixed(2));

        //AsignValueT21(parseFloat(InputVatValue).toFixed(2), vat,'AddingVat');
    }
    

    $('#mainrow .VATG').change(function () {
        debugger;

        Currentrow = $(this).closest("tr");
        vat = Currentrow.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
    });


    function AddingVatValue(vat, CurrentRow) {
        debugger;
        Total = Currentrow.find(".FTotalG").val();
        if (parseInt(vat) == 0) {
            Currentrow.find('#RowTotalG').val(Total);
            return;
        }
        var InputVatValue = parseFloat((Total / 100) * vat);

        var ValueWTV = parseFloat(InputVatValue) + parseFloat(Total);


        Currentrow.find('#RowTotalG').val(parseFloat(ValueWTV).toFixed(2));

        AsignValueT21(parseFloat(InputVatValue).toFixed(2), vat, 'AddingVat');
    }

    function RemovingVatValue(vat, CurrentRow) {
        debugger;
        Total = Currentrow.find(".FTotalG").val();
        if (parseInt(vat) == 0) {
            Currentrow.find('#RowTotalG').val(Total);
            return;
        }
        var InputVatValue = parseFloat((Total / 100) * vat);

        var ValueWTV = parseFloat(InputVatValue) + parseFloat(Total);


        Currentrow.find('#RowTotalG').val(parseFloat(ValueWTV).toFixed(2));

        AsignValueT21(parseFloat(InputVatValue).toFixed(2), vat, 'Removing');
    }

    //Services

    $('#btnSerVice').click(function () {


        currentRow1 = $(this).closest("tr");

        var isAllValid = true;
        if ($("#mainrow1 #SelectProductQutationS").val() == "0") {
            isAllValid = false;
            alert("Please select Item");
            return;
        }

        var isAllValid = true;
        if ($("#mainrow1 .quantityS").val() == 0) {
            isAllValid = false;

            alert("Please provide quantity");
            return;
        }
        var isAllValid = true;
        if ($("#mainrow1 .rateS").val() == 0) {
            isAllValid = false;
            alert("Please select provide rate");
            return;
        }

        if (isAllValid) {
            var $newRow = $("#mainrow1").clone().removeAttr('id');
            $('#SelectProductQutationS', $newRow).val($("#SelectProductQutationS").val());
            $('.VATS', $newRow).val($("#mainrow1 #SelectVATS").val());

            //Replace add button with remove button
            $("#btnSerVice", $newRow).addClass('remove').val('x').removeClass('btn-success').addClass('btn-height-Remove');

            //Remove id attribute from new clone row

            $("#SelectProductQutationS,#QuantityS,#RateS,#FTotalS,#SelectVATS", $newRow).removeAttr('id');

            $('span.error', $newRow).remove();

            $('#QutationServiceDetail1').append($newRow);


            $(".FTotalS").prop('disabled', true);

            $('#mainrow1 #SelectProductQutationS').val('0');
            $('#mainrow1 .quantityS').val('');
            $('#mainrow1 #RateS').val('');
            $('#mainrow1 .FTotalS').val('');
            $('#mainrow1 .quantityS').val('');
            $('#mainrow1 #RowTotalS').val('');

            if ($('#orderItemError').text != '') {
                $('#orderItemError').text('');
            }
            $('#mainrow1 #SelectVATS').val(0);

            calculatevatServices();
        }
    });
    $('#mainrow1 .quantityS').keyup(function () {

        debugger;
        Currentrow = $(this).closest("tr");
        calculateTotalService(Currentrow);
    });

    $('#mainrow1 .rateS').keyup(function () {

        Currentrow = $(this).closest("tr");
        calculateTotalService(Currentrow);
    });

    function calculateTotalService(currentRow) {
        Quantity = Currentrow.find(".quantityS").val(),
        Price = Currentrow.find('.rateS').val();
        Total = parseFloat(Quantity * Price);
        Currentrow.find('.FTotalS').val(Total);
    }

    function RowSubTalService(vat, CurrentRow) {
        debugger
        var Total1 = 0;
        //Total = Currentrow.find(".FTotalS").val();
        //var Total1 = parseFloat((Total / Total) * vat + 100);
        //Currentrow.find('#RowTotalS').val(Total1.toFixed(2));


        Total = Currentrow.find(".FTotalS").val();
        if (parseInt(vat) == 0) {
            Currentrow.find('#RowTotalS').val(Total);
            return;
        }
        var InputVatValue = parseFloat((Total / 100) * vat);

        var ValueWTV = parseFloat(InputVatValue) + parseFloat(Total);


        Currentrow.find('#RowTotalS').val(parseFloat(ValueWTV).toFixed(2));
    }
    
    $('#mainrow1 .VATS').change(function () {
        debugger;
        Currentrow = $(this).closest("tr");
        vat = Currentrow.find('.VATS').val();
        RowSubTalService(vat, Currentrow);
    });

    function LoadProductG() {
        PgoodServices = "Good";

        $("#mainrow #SelectProductQutationG").find("option").remove();
        $("#mainrow #SelectProductQutationG").prepend("<option value=0>" + 'Select Item' + "</option>");
        $("#mainrow #SelectProductQutationG").append("<option value=AddNewProductSelect>" + 'Add New Product' + "</option>");

        $.ajax({
            url: "/MVCProduct/GetProduct",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: { ProductStatus: PgoodServices },
            success: function (data) {
                $.each(data, function (key, item) {
                    $('#mainrow #SelectProductQutationG').append($('<option></option>').val(item.ProductId).html(item.ProductName));
                });
            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }

    function LoadProductS() {
        PgoodServices = "Services";

        $("#mainrow1 #SelectProductQutationS").find("option").remove();
        $("#mainrow1 #SelectProductQutationS").prepend("<option value=0>" + 'Select Item' + "</option>");
        $("#mainrow1 #SelectProductQutationS").append("<option value=AddNewProductSelect>" + 'Add New Product' + "</option>");

        $.ajax({
            url: "/MVCProduct/GetProduct",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: { ProductStatus: PgoodServices },
            success: function (data) {
                $.each(data, function (key, item) {

                    $('#mainrow1 #SelectProductQutationS').append($('<option></option>').val(item.ProductId).html(item.ProductName));
                });
            },
            Error: function (errormessage) {
                alert(errormessage);
            }
        });
    }

    $('#mainrow .pClassG').change(function () {
        var Current = $(this).closest('tr');

        var value = $(this).val();
        if (value == "AddNewProductSelect") {
            ShowServiceGood("Good");

            $('#TypeGoodsServices').attr('disabled', false);
            $('#UpdateProIdGoods').hide();
            $('#SAveProdIDGoods').show();
            $('#TypeGoodsServices').val('Good');
            $('#TypeGoodsServices').attr('disabled', 'disabled');
            $('#CreateNewProductModalGoods').modal('show');
        }
        else if (value == "0") {
            alert(value);
            return;
        }
        else {
            var productId = $(this).val();
            $.ajax({
                url: "/MVCQutation/ProductPricebyId",
                type: "POST",
                cache: false,
                data: { 'ProductId': productId },
                success: function (resultData) {
                    ChangeTotalOnItemCahe(Current);
                    $('#mainrow .rateG').val(resultData);
                },
                error: function (errormessage) {
                    //alert(errormessage)
                }
            });
        }
    });

    $('#mainrow1 .pClassS').change(function () {
        var Current = $(this).closest('tr');

        var value = $(this).val();
        if (value == "AddNewProductSelect") {
            ShowServiceGood("Services");

            $('#TypeGoodsServices').attr('disabled', false);
            $('#UpdateProIdGoods').hide();
            $('#SAveProdIDGoods').show();
            $('#TypeGoodsServices').val('Services');
            $('#TypeGoodsServices').attr('disabled', 'disabled');
            $('#CreateNewProductModalGoods').modal('show');
        }
        else if (value == "0") {
            alert(value);
            return;
        }
        else {
            var productId = $(this).val();
            $.ajax({
                url: "/MVCQutation/ProductPricebyId",
                type: "POST",
                cache: false,
                data: { 'ProductId': productId },
                success: function (resultData) {
                    ChangeTotalOnItemCahe(Current);
                    $('#mainrow1 .rateS').val(resultData);
                },
                error: function (errormessage) {
                    //alert(errormessage)
                }
            });
        }
    });

    function ChangeTotalOnItemCahe(currentRow) {
        var quantity = currentRow.find("td:eq(1)").find('input').val();  // get current row 1st TD value
        var Price = currentRow.find("td:eq(2)").find('input').val();
        var total = quantity * Price;
        currentRow.find('td:eq(3)').find('input').val(total);
    }

    function calculatevatServices() {
        if ($('#orderdetailsitems tr').length == 0) {
            $('#btwo').text('0.00');
            $('#BTW6').text('0.00');
            $('#BTW21').text('0.00');
        }
        else {

            var sum0 = 0;
            var total0 = 0;
            $('#orderdetailsitems tr').each(function () {
                $('#BTW0').text();

                r = $(this).closest('tr');
                var value = r.find('.VATS  option:selected').val();
                if (r.find('.VATS  option:selected').val() == 0) {
                    total0 = r.find('td:eq(3)').find('input').val();
                    if (!isNaN(total0) && total0.length != 0) {
                        sum0 += parseInt(total0);
                    }
                    var totalvat0 = parseFloat(sum0 / 100 * 6 + sum0 - sum0);
                    var totalr = Math.round(totalvat0, 2);
                    $('#BTW0').text(totalvat0.toFixed(2));
                }
                else {
                    $('#BTW0').text('0.00');
                }
            })
        }

        var sum6 = 0;
        var total6 = 0;
        $('#orderdetailsitems tr').each(function () {
            var r = $(this).closest('tr');
            var value = r.find('.VATS  option:selected').val();
            if (r.find('.VATS  option:selected').val() == 6) {
                total6 = r.find('td:eq(3)').find('input').val();
                if (!isNaN(total6) && total6.length != 0) {
                    sum6 += parseInt(total6);
                }
                var totalvat6 = parseFloat(sum6 / 100 * 6 + sum6 - sum6);
                var totalr = Math.round(totalvat6, 2);
                $('#BTW6').text(totalvat6.toFixed(2));
            }
        })

        var sum21 = 0;
        var total21 = 0;
        $('#orderdetailsitems tr').each(function () {
            //$('#BTW21').text();
            var r = $(this).closest('tr');
            var value = r.find('.VATS  option:selected').val();
            if (r.find('.VATS  option:selected').val() == 21) {

                total21 = r.find('td:eq(3)').find('input').val();
                if (!isNaN(total21) && total21.length != 0) {
                    sum21 += parseInt(total21);
                }
                var totalvat21 = parseFloat(sum21 / 100 * 21 + sum21 - sum21);


                alert($('#BTW21').val() + 'vat 21 values');
                $('#BTW21').text(totalvat21.toFixed(2));
            }

        })
        //RowCounte();
    }

    function calculatevatGoods() {
        if ($('#orderdetailsitems tr').length == 0) {
            $('#btwo').text('0.00');
            $('#BTW6').text('0.00');
            $('#BTW21').text('0.00');
        }
        else {

            var sum0 = 0;
            var total0 = 0;
            alert($('#orderdetailsitems tr').length);
            $('#orderdetailsitems tr').each(function () {
                $('#BTW0').text();

                r = $(this).closest('tr');
                var value = r.find('.VATG option:selected').val();
                if (r.find('.VATG option:selected').val() == 0) {
                    total0 = r.find('td:eq(3)').find('input').val();
                    if (!isNaN(total0) && total0.length != 0) {
                        sum0 += parseInt(total0);
                    }
                    var totalvat0 = parseFloat(sum0 / 100 * 6 + sum0 - sum0);
                    var totalr = Math.round(totalvat0, 2);
                    $('#BTW0').text(totalvat0.toFixed(2));
                }
                else {
                    $('#BTW0').text('0.00');
                }
            })
        }

        var sum6 = 0;
        var total6 = 0;
        $('#orderdetailsitems tr').each(function () {
            var r = $(this).closest('tr');
            var value = r.find('.VATG option:selected').val();
            if (r.find('.VATG option:selected').val() == 6) {
                total6 = r.find('td:eq(3)').find('input').val();
                if (!isNaN(total6) && total6.length != 0) {
                    sum6 += parseInt(total6);
                }
                var totalvat6 = parseFloat(sum6 / 100 * 6 + sum6 - sum6);
                var totalr = Math.round(totalvat6, 2);
                $('#BTW6').text(totalvat6.toFixed(2));
            }
        })

        var sum21 = 0;
        var total21 = 0;
        $('#orderdetailsitems tr').each(function () {
            //$('#BTW21').text();
            var r = $(this).closest('tr');
            var value = r.find('.VATG option:selected').val();
            if (r.find('.VATG option:selected').val() == 21) {

                total21 = r.find('td:eq(3)').find('input').val();
                if (!isNaN(total21) && total21.length != 0) {
                    sum21 += parseInt(total21);
                }
                var totalvat21 = parseFloat(sum21 / 100 * 21 + sum21 - sum21);

                VAT21VALUE = parseFloat(totalvat21.toFixed(2));



            }

        });
        //RowCounte();
    }

    function AsignValueT21(NewValue, Vat, InOrOut) {       
        if (InOrOut == 'AddingVat') {
            if (Vat == 21) {
                var Currnt21Value = $('#BTW21').text();

                if ((Currnt21Value) != '') {
                    var v = parseFloat(Currnt21Value) + parseFloat(NewValue);
                    $('#BTW21').text(parseFloat(v).toFixed(2));
                }
                else {
                    $('#BTW21').text(NewValue);
                }
            }
            else if (Vat == 6) {
                var Currnt21Value = $('#BTW6').text();
                if ((Currnt21Value) != '') {
                    var v = parseFloat(Currnt21Value) + parseFloat(NewValue);
                    $('#BTW6').text(parseFloat(v).toFixed(2));
                }
                else {
                    $('#BTW6').text(NewValue);
                }
            }
        }
        else if(InOrOut =="Removing")
        {
            if (Vat == 21) {
                var Currnt21Value = $('#BTW21').text();

                if ((Currnt21Value) != '') {
                    var v = parseFloat(Currnt21Value) - parseFloat(NewValue);
                    $('#BTW21').text(parseFloat(v).toFixed(2));
                }
                else {
                    $('#BTW21').text(NewValue);
                }
            }
            else if (Vat == 6) {
                var Currnt21Value = $('#BTW6').text();
                if ((Currnt21Value) != '') {
                    var v = parseFloat(Currnt21Value) - parseFloat(NewValue);
                    $('#BTW6').text(parseFloat(v).toFixed(2));
                }
                else {
                    $('#BTW6').text(NewValue);
                }
            }
        }
    }


    $('#orderdetailsitems').on('click', '.remove', function () {
        debugger;
        var currentRow = $(this).closest('tr');
        var vat = currentRow.find('.VAT  option:selected').val();       

       RemovingVatValue(VAT,currentRow);

        $(this).parents('tr').remove();
      
    });


</script>