
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/logo-icon.png">
    <title>Factuur Baheer Systeem</title>
    <!-- Custom CSS -->



    <link href="~/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <!--Toaster Popup message CSS -->
    <link href="~/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!--c3 plugins CSS -->
    <link href="~/assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
    <link href="~/dist/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/node_modules/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- page css -->
    <link href="~/dist/css/pages/floating-label.css" rel="stylesheet">
    <link href="~/Content/CustomRadio.css" rel="stylesheet" />
 
     
        
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>



    <body class="horizontal-nav skin-megna-dark fixed-layout">
        <input hidden id="userid" />
        <input hidden id="ImageSRC" />
        <div id="UserInfoModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:skyblue">User Inforamtion</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">Fisrt Name:</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <input class="form-control" type="text" required id="txtFname" placeholder="First Name" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">Insertion:</div>
                                          </div>
                            <div class="col-sm-9">
                                <div class="form-group ">
                                    <input class="form-control" type="text" required id="txtInsertion" placeholder="insertion" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">Last Name:</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <input class="form-control" type="text" required id="txtLname" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">E-mail:</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group ">
                                    <input class="form-control" type="text" required id="txtEmail" placeholder="Email" disabled="disabled" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">DOB:</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <input class="form-control" type="date" required id="TxtDob" placeholder="Date of Birth" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">gender:</div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label class="btn btn-success"><input type="radio" name="gender" value="1"> Male</label>
                                    <label class="btn btn-success"><input type="radio" name="gender" value="2"> Female</label>
                                </div>
                            </div>

                            <div class="col-sm-3">                               
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <a href="#" id="changeImage">Change Image</a> | <a href="#" id="changePWD">Change Password</a>                                   
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="SaveuserInfo" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                        <button type="button" class="btn btn-danger waves-effect text-left" id="CancelserInfo" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div id="ImageModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:skyblue">Change Image</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">         
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <div class="mydiv">
                                        <img id="Useimage" alt="user Image"  style="height:200px; width:200px; border:1px groove" /><br />
                                    </div>
                                         <input type="file" id="uploadimg"  class="btn btn-success"/>
                                </div>                               
                            </div>

                            <div class="col-sm-2">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="SaveuserImage" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                        <button type="button" class="btn btn-danger waves-effect text-left" id="CancelserImage" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <div id="ChangePasswordModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:skyblue">Change Image</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="recoverform">                           
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" id="CurrentPassword" type="password" required="" placeholder="Current Password">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" id="NewPassowrd" type="password" required="" placeholder="New Password">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" id="ConfirmPassword" type="password" required="" placeholder="Confirm Password">
                                </div>
                            </div>
                           
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="SaveChangePassword" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                        <button type="button" class="btn btn-danger waves-effect text-left" id="CancelChangePassword" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">loading...</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <header class="topbar">
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/Home/Index">
                            <!-- Logo icon --><b>
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <img src="~/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->

                                <img src="~/assets/images/logo-light-text.png" alt="home page" />
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text --><span>
                                <!-- dark Logo text -->
                                <img src="~/assets/images/logo-light-text.png" alt="homepage" class="dark-logo" />
                                <!-- Light Logo text -->

                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-collapse">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav mr-auto">
                            <!-- This is  -->
                            <li class="nav-item d-md-none"> <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                            <!-- ============================================================== -->
                            <!-- Comment -->
                            <!-- ============================================================== -->
                            @*<li>
                                    <a href="#"></a>
                                </li>*@
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->

                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown mega-dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="dropdown-menu animated bounceInDown">
                                    <ul class="mega-dropdown-menu row">
                                        <li class="col-lg-3 col-xlg-2 m-b-30">
                                            <h4 class="m-b-20">CAROUSEL</h4>
                                            <!-- CAROUSEL -->
                                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="container"> <img class="d-block img-fluid" src="~/assets/images/big/img1.jpg" alt="First slide"></div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="container"><img class="d-block img-fluid" src="~/assets/images/big/img2.jpg" alt="Second slide"></div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="container"><img class="d-block img-fluid" src="~/assets/images/big/img3.jpg" alt="Third slide"></div>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                                            </div>
                                            <!-- End CAROUSEL -->
                                        </li>
                                        <li class="col-lg-3 m-b-30">
                                            <h4 class="m-b-20">ACCORDION</h4>
                                            <!-- Accordian -->
                                            <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="headingOne">
                                                        <h5 class="mb-0">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                Collapsible Group Item #1
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high. </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="headingTwo">
                                                        <h5 class="mb-0">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                Collapsible Group Item #2
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="headingThree">
                                                        <h5 class="mb-0">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                Collapsible Group Item #3
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-lg-3  m-b-30">
                                            <h4 class="m-b-20">CONTACT US</h4>
                                            <!-- Contact -->
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Enter email">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-info">Submit</button>

                                            </form>

                                        </li>
                                        <li class="col-lg-3 col-xlg-4 m-b-30">
                                            <h4 class="m-b-20">List style</h4>
                                            <!-- List style -->
                                            <ul class="list-style-none">
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> You can give link</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Give link</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another Give link</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Forth link</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another fifth link</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/logo-icon.png" alt="user" class="img-circle" width="30"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <span class="with-arrow"><span class="bg-primary"></span></span>
                                <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                                    <div class=""><img src="/images/@Session["imageurl"]"  alt="user Image" class="img-circle" width="60"></div>
                                    <div class="m-l-10">
                                        <h4 class="m-b-0">@Session["UName"]</h4>
                                        <p class="m-b-0 small">@Session["username"].ToString()</p>
                                    </div>
                                </div>



                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)" id="AccountSitting"><i class="ti-settings m-r-5 m-l-5" id="AccountSitting"></i> Account Setting</a>
                                <a class="dropdown-item" href="javascript:void(0)" id="CompanySitting"><i class="ti-settings m-r-5 m-l-5" id="CompanySitting"></i> Company Setting</a>
                                <div class="dropdown-divider"></div>
                                @*<a class="dropdown-item"><i href="javascript:void(0)" class="fa fa-power-off" id="Logouts"></i> Logout</a>*@
                                <div class="p-l-30 p-10"><a href="javascript:void(0)" id="Logout" class="btn btn-sm btn-warning  btn-rounded"><i class="fa fa-power-off"></i>        LogOut</a></div>
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="nav-text-box align-items-center d-md-none">
                <span><img src="~/assets/images/logo-icon.png" alt="elegant admin template"></span>
                <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i class="mdi mdi-toggle-switch"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-close"></i></a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard <span class="badge badge-pill badge-cyan">0</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/Home/Index">Home</a></li>
                            </ul>
                        </li>       
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-clipboard"></i><span class="hide-menu">Qutation Invoices</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/MVCQutation/Index">Qutation</a></li>
                                <li><a href="/QutationOrder/QutationOrderList">Qutation Order Status</a></li>
                                @* <li><a href="/MVCClient/Index">Create Qutation</a></li>
                                    <li><a href="widget-charts.html">Not Paid</a></li>*@
                            </ul>
                        </li>
                        <li class="nav-small-cap"></li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-files"></i><span class="hide-menu">Client <span class="badge badge-pill badge-info">25</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/MVCClient/Index">Clients</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-files"></i><span class="hide-menu">Product <span class="badge badge-pill badge-info">@ViewBag.count</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/MVCProduct/Index">Product</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-agenda"></i><span class="hide-menu">Purchase</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/Purchase/Index">Invoice</a></li>
                                @*<li><a href="/MvcInvoiceServices/Index">Invoice</a></li>*@
                                <li><a href="/Order/PurchaseOrderList">Invoice Order Status</a></li>
                                @*<li><a href="/MvcInvoiceServices/OrderSirviceList">Service Order Status</a></li>*@
                            </ul>
                        </li>


                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-agenda"></i><span class="hide-menu">Account</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/MVCHeadAccount/Index">Head Account</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-align-left"></i><span class="hide-menu">Report</span></a>
                            <ul aria-expanded="false" class="collapse">
                                    @*<li>
                                        
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="Report/Journal">Journal</a></li>
                                            <li><a href="Report/Journal">Journal</a></li>
                                            <li><a href="Report/Journal">Journal</a></li>
                                            <li><a href="Report/Journal">Journal</a></li>
                                        </ul>
                                    </li>*@
                                <li><a href="/Reports/Journal">Journal</a></li>
                                </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">@ViewContext.RouteData.Values["action"]</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewContext.RouteData.Values["controller"]</a></li>

                                <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"]</li>
                            </ol>
                            @*<button type="button" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>*@
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div body-content">
                                    @RenderBody()

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme working">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/logo-icon.png" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->


        <footer class="footer">
            © 2018 invoice Disk
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
        <div>
            <script src="~/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
            <!-- Bootstrap tether Core JavaScript -->
            <script src="~/assets/node_modules/popper/popper.min.js"></script>
            <script src="~/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
            <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
            <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
            <!-- slimscrollbar scrollbar JavaScript -->
            <script src="~/dist/js/perfect-scrollbar.jquery.min.js"></script>
            <!--Wave Effects -->
            <script src="~/dist/js/waves.js"></script>
            <!--Menu sidebar -->
            <script src="~/dist/js/sidebarmenu.js"></script>
            <!--stickey kit -->
            <script src="~/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
            <script src="~/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
            <!--Custom JavaScript -->

            <script src="~/dist/js/custom.min.js"></script>
            <script src="~/dist/js/pages/jasny-bootstrap.js"></script>
            <script src="~/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
            <script src="~/assets/node_modules/datatables/dataTables.bootstrap.js"></script>


            <script src="~/assets/node_modules/sweetalert/jquery.sweet-alert.custom.js"></script>
            <script src="~/assets/node_modules/sweetalert/sweetalert.min.js"></script>
            <script src="~/assets/node_modules/toast-master/js/jquery.toast.js"></script>
            <script src="~/dist/js/pages/CustomeImage.js"></script>
            @*<script src="~/assets/node_modules/switchery/dist/switchery.min.js"></script>*@
        </div>
</body>
</html>

@*Custome Scripts loading here*@



@*<script>
    $('#changeImage').click(function () {
        $.ajax({
            url: "/UserInfo/GetUserByCompayId",
            type: 'Post',
            success: function (Userdata) {   
                $('#Useimage').attr("src","/images/"+Userdata.ImageUrl);  
                $('#ImageSRC').val(Userdata.ImageUrl);
                $('#UserInfoModel').modal('hide');
                $('#ImageModel').modal('show');
            }
        });
      });

    $('#changePWD').click(function () {
        $('#UserInfoModel').modal('hide');
        $('#ChangePasswordModel').modal('show');
    });

    $('#SaveChangePassword').click(function () {
        var Istrue = ChangePasswordValidation();

        if(Istrue == true)
        {
            Data =
                {
                    OldPassword: $('#CurrentPassword').val(),
                    NewPassword: $('#NewPassowrd').val(),
                    ConfirmPassword: $('#ConfirmPassword').val()
                }
            $.ajax({
                url: "/UserInfo/UpdateUserPassword",
                type: 'Post',
                data: Data,
                success: function (Response) {
                    if (Response == "Ok") {
                        $('#ChangePasswordModel').modal('hide');
                        $('#UserInfoModel').modal('show');
                        $.toast({
                            heading: 'Success',
                            text: 'Password update successfuly `updated`',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background

                        });
                    }                  

                },
                error: function () {
                    alert('something wrong');
                }
                
            });
        }
       
    });

    function ChangePasswordValidation()
    {
        var isvalid = false;

        if($('#CurrentPassword').val().trim() == "")
        {
            $('#CurrentPassword').css('border-color', 'Red');
            return;
        }
        else
        {
            $('#CurrentPassword').css('border-color', 'lightgrey');
            isvalid = true;
        }

        if ($('#NewPassowrd').val().trim() == "") {
            $('#NewPassowrd').css('border-color', 'Red');
            return;
        }
        else {
            $('#NewPassowrd').css('border-color', 'lightgrey');
            isvalid = true;
        }
        if ($('#ConfirmPassword').val().trim() == "") {
            $('#ConfirmPassword').css('border-color', 'Red');
            return;
        }
        else {
            $('#ConfirmPassword').css('border-color', 'lightgrey');
            isvalid = true;
        }

        if ($('#NewPassowrd').val() != $('#ConfirmPassword').val())
        {
            $.toast({
                heading: 'Miss match',
                text: 'new password and confirm password must match `Password`',
                icon: 'info',
                loader: true,        // Change it to false to disable loader
                loaderBg: '#FF0000'  // To change the background
            });
        }       
        return isvalid;
    }

    $('#CancelChangePassword').click(function () {
        $('#UserInfoModel').modal('show');
        $('#ChangePasswordModel').modal('hide');
    });

    $('#CancelserImage').click(function () {
        $('#ImageModel').modal('hide');
        $('#UserInfoModel').modal('show');
    });
    
    $('#SaveuserImage').click(function () {
       
        if (window.FormData != undefined) {
            var fileData = new FormData();

            if ($("#uploadimg").val() != "") {
                var fileUpload = $("#uploadimg").get(0);
                var files = fileUpload.files;

                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
            }

            if ($("#uploadimg").val() != "")
            {
                fileData.append('ImageUrl', $('#uploadimg').val());
            }
            fileData.append('UserId', $('#userid').val());
            fileData.append('ImageUrl', $('#ImageSRC').val());

            $.ajax({
                url: '/UserInfo/UpdateImage',
                type: 'POST',
                data: fileData,
                processData: false,
                contentType: false,
                success: function (ReturnStatus) {                                 
                    if (ReturnStatus == 200) {
                        $('#ImageModel').modal('hide');
                        $('#UserInfoModel').modal('show');
                        $.toast({
                            heading: 'Success',
                            text: 'Image update successfuly `updated`',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background
                        });
                    }
                },
                error: function () {
                    alert("Error please try again");
                }
            });
        }

    });

    var showRequiredModel = "";

        $(document).ready(function () {

            $("#uploadimg").change(function () {
                readURL(this, 'Useimage');
            });

            $('#btn-QutationNew').click(function () {

                LoadContacts();
                $('#QutationContactModel').modal('show');
            });

            $('#SelectContacts1').change(function () {

                showRequiredModel = "QutationContactModel";
                var value = $(this).val();
                if (value == "AddNewClientSelect") {

                    $('#QutationContactModel').modal('hide');

                    $('#ModelHeading').text("Maak nieuwe klant");
                    $("#TypeContacts").find("option").remove();
                    $("#TypeContacts").prepend("<option value=Customer>" + 'Klant' + "</option>");
                    $('#CreateNewContactModal1')


                    .modal('show');

                }

            });


            $('#SelectProductQutation').change(function () {

                var value = $(this).val();
                if (value == "AddNewProductSelect") {

                    $('#CreateNewProductModalAdd').modal('show');

                }

            });



            $('#QutationClientNext').click(function () {

                var qutationGoodOrService = $('#SelectTypeQutation').val();
                debugger;
                var value = $('#SelectContacts1').val();

                if (value > 0) {
                    $.ajax({
                        url: '/MVCClient/AddOrEdit',
                        type: 'GET',
                        data: {
                            id: value
                        },
                        success: function (data) {

                            if (qutationGoodOrService == "1") {
                                window.location.href = "/MVCQutation/AddOrEdit"
                            }
                            else if (qutationGoodOrService == "2") {
                                window.location.href = "/QutationService/AddOrEdit/0"
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                }
                else {
                    $.toast({
                        heading: 'Information',
                        text: 'Please select client to continue',
                        icon: 'info',
                        loader: true,        // Change it to false to disable loader
                        loaderBg: '#9EC600'  // To change the background
                    })
                }
            });

        });

      
      


            $(document).ready(function () {
                $("#CompanyListTable").DataTable({
                    // "processing": true, // for show progress bar
                    processing: true,
                    "language": {
                        "processing": $('#loader').append("<img  src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
                    },
                    "serverSide": true, // for process server side
                    "filter": false, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once

                    searching: true,
                    "ajax": {
                        "url": "/Company/Index1",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                            { "data": "CompanyId", "name": "CompanyId", "autoWidth": true },
                            { "data": "CompanyName", "name": "CompanyName", "autoWidth": true },
                            { "data": "CompanyAddress", "name": "CompanyAddress", "autoWidth": true },
                            { "data": "CompanyPhone", "name": "CompanyPhone", "autoWidth": true },
                            { "data": "CompanyCell", "name": "CompanyCell", "autoWidth": true },
                            { "data": "CompanyEmail", "name": "CompanyEmail", "autoWidth": true },
                            { "data": "CompanyTRN", "name": "CompanyTRN", "autoWidth": true },
                            {
                                'data': 'CompanyLogo',
                                render: function (logo) {
                                    if (logo) {
                                        return '<img height="25px" width="25px" src="' + logo + '" />'
                                    }
                                    else { return 'No Image'; }
                                }
                            },
                          {
                              render: function (data, type, row) {
                                  return '<a href="#" class="btn btn-info btn-xs" data-id="Id" onclick="Edit(' + row.CompanyId + ')"><i class="fa fa-pencil "></i></a>|<a href="#" class="btn btn-danger btn-xs" onclick="DeleteCompany(' + row.CompanyId + ')"><i class="glyphicon glyphicon-trash"></i></a>|<a href="#" class="btn btn-success btn-xs" onclick="Delete(' + row.CompanyId + ')"><i class="glyphicon glyphicon-eye- Open"></i></a>'
                              }
                          }

                    ]
                });
            });


            $('#CompanySitting').click(function () {
                window.location.href = "/MVCComapny/Index";
            });

            $('#AccountSitting').click(function () {

                $.ajax({
                    url: "/UserInfo/GetUserByCompayId",
                    type: 'Post',
                    success: function (Userdata) {
                        $.toast({
                            heading: 'Success',
                            text: 'Data loaded successfuly `Loaded`',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background
                        });

                        $('#userid').val(Userdata.UserId);
                        $('#txtFname').val(Userdata.UserFname);
                        $('#txtInsertion').val(Userdata.Insertion);
                        $('#txtLname').val(Userdata.UserLname);
                        $('#txtEmail').val(Userdata.Username);
                        $('#TxtDob').val(Userdata.DOB);
                        var gen = Userdata.Gender;
                        if (gen == 1) {
                            $('input:radio[name="gender"]').filter('[value="1"]').attr('checked', true);
                        }
                        else {
                            $('input:radio[name="gender"]').filter('[value="2"]').attr('checked', true);
                        }

                        $('#UserInfoModel').modal('show');
                    }
                });

            });

            $('#SaveuserInfo').click(function () {

                Userdata = {
                    UserFname: $('#txtFname').val(),
                    Insertion: $('#txtInsertion').val(),
                    UserLname: $('#txtLname').val(),
                    Gender: $("input[name='gender']:checked").val(),
                    DOB: $('#TxtDob').val(),
                    UserId: $('#userid').val()
                },

                $.ajax({
                    url: "/UserInfo/UpdateUserInfo",
                    type: 'Post',
                    data: Userdata,
                    success: function (response) {
                        if (response == "Ok") {
                            $.toast({
                                heading: 'Success',
                                text: 'Information updated successfuly `Updated`',
                                icon: 'info',
                                loader: true,        // Change it to false to disable loader
                                loaderBg: '#9EC600'  // To change the background
                            });
                            $('#UserInfoModel').modal('hide');
                        }
                    },
                    error: function (error) {
                        alert('somthing going wrong');
                    },
                });
            });

            function Edit(companyId) {

                window.location.href = "Company/AddOrEdit/" + companyId;
            }

            $(document).ready(function () {
              

                $('#SaveNewProductModel').click(function () {

                    $.ajax({
                        url: '/MVCProduct/AddOrEdit',
                        type: 'POST',
                        data: {
                            ProductName: $('#ProductName').val(),
                            Description: $('#Description').val(),
                            SalePrice: $('#SalePrice').val(),
                            PurchasePrice: $('#PurchasePrice').val(),
                            Type: $('#Type').val(),
                            OpeningQuantity: $('#OpeningQuantity').val(),
                            ProductUnit: $('#ProductUnitSelect').val(),
                            OpeningStockValue: $('#OpeningStockValue').val()
                        },
                        success: function (data) {
                            $('#CreateNewProductModalAdd').modal('hide');
                            LoadProductAdding();
                            $.toast({
                                heading: 'Success',
                                text: 'Your opration has been successfuly completed `loader`',
                                icon: 'info',
                                loader: true,        // Change it to false to disable loader
                                loaderBg: '#9EC600'  // To change the background
                            });

                            //$("#productTable").ajax.reload();
                            //SuccessInsert();
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });


                $(document).ready(function () {
                    LoadProductUnit();
                });

                function LoadProductUnit() {

                    $("#ProductUnitSelectQutation").find("option").remove();

                    $("#ProductUnitSelectQutation").prepend("<option value=0>" + 'Select Unit' + "</option>");
                    $("#ProductUnitSelectQutation").append("<option value=AddNewPUnitSelect>" + 'Add New Unit' + "</option>");

                    $.ajax({
                        url: "/MVCProductUnit/GetProductUnit",
                        type: "Get",
                        async: false,
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            $.each(data, function (key, item) {
                                $('#ProductUnitSelectQutation').append($('<option></option>').val(item.ProductUnitID).html(item.ProductUnit));
                            });

                        },
                        Error: function (errormessage) {
                            alert(errormessage);
                        }

                    });
                }

                $('#ProductUnitSelectQutation').change(function () {

                    var value = $(this).val();
                    if (value == "AddNewPUnitSelect") {

                        $('#CreateNewProductModalAdd').modal('hide');
                        $('#UnitModelQutation').modal('show');
                    }

                });

                $('#CancelProductUnitQutation').click(function () {
                    CleartUnitTextBoxqt();
                    $('#CreateNewProductModalAdd').modal('show');
                    $('#UnitModelQutation').modal('hide');
                });

                $('#SaveNewProductUnitQutation').click(function () {

                    $.ajax({
                        url: "/MVCProductUnit/CheckUnitStatus",
                        type: "POST",
                        data: { name: $('#ProductUnit').val() },
                        success: function (Resultdat) {

                            console.log(Resultdat);
                            if (Resultdat == "Found") {
                                $.toast({
                                    heading: 'Already exist',
                                    text: 'Unit already exist with nam ' + $('#ProductUnit').val() + ' choose another `Name`',
                                    icon: 'info',
                                    loader: true,        // Change it to false to disable loader
                                    loaderBg: '#FF0000'  // To change the background
                                });
                            }
                            else {
                                var dataUnit = {

                                    ProductUnit: $('#ProductUnit').val(),
                                    Status: "true"
                                }
                                $.ajax({
                                    url: "/MVCProductUnit/AddorEdit",
                                    type: "POST",
                                    data: dataUnit,
                                    success: function (dat) {
                                        CleartUnitTextBoxqt();
                                        $('#UnitModelQutation').modal('hide');
                                        LoadProductUnit();
                                        $('#CreateNewProductModalAdd').modal('show');
                                        $.toast({
                                            heading: 'Success',
                                            text: 'Your opration has been successfuly completed `Thank you`',
                                            icon: 'info',
                                            loader: true,        // Change it to false to disable loader
                                            loaderBg: '#9EC600'  // To change the background
                                        });
                                    },
                                    Error: function (err) {
                                        alert("erro");
                                    }

                                });
                            }

                        },
                        Error: function (err) {
                            alert("erro");
                        }

                    });

                });

                function CleartUnitTextBoxqt() {
                    $('#ProductUnit').val("")
                }


             
                $('#Logout').click(function () {
                    Username = "";
                    $.ajax({
                        url: "/Login/Logut",
                        type: "POST",
                        dataType: "json",
                        success: function (resultData) {
                            window.location.href = "/Captcha/Index";
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });

                });

            });


          

            $(document).ready(function () {

                $('#btn-InvoiceNew').click(function () {
                    LoadVernder();
                    $('#VenderSelectModel').modal('show');
                });

                $('#venderSelect').change(function () {

                    var value = $(this).val();
                    if (value == "AddNewVenderSelect") {
                        showRequiredModel = "";
                        $('#VenderSelectModel').modal('hide');
                        $('#ModelHeading').text("Maak nieuwe vender");
                        $("#TypeContacts").find("option").remove();
                        $("#TypeContacts").prepend("<option value=Vender>" + 'verkoper' + "</option>");
                        $('#CreateNewContactModal1')
                        .modal('show');

                    }

                });




                $('#VenderClientNext').click(function () {
                    var serviceOrgoo = "";
                    var value = $('#venderSelect').val();
                    serviceOrgoo = $('#SelectTypeQutation1 option:selected').text();
                    debugger;
                    if (value > 0) {
                        $.ajax({
                            url: '/MVCClient/AddOrEdit',
                            type: 'GET',
                            data: {
                                id: value
                            },
                            success: function (data) {

                                if (serviceOrgoo == "Good") {
                                    serviceOrgoo = "";

                                    window.location.href = "/Purchase/AddOrEdit"
                                }
                                else if (serviceOrgoo == "Services") {
                                    serviceOrgoo = "";

                                    window.location.href = "/MvcInvoiceServices/AddOrEdit/0"
                                }

                            },
                            error: function () {
                                alert("error");
                            }
                        });
                    }
                    else {
                        $.toast({
                            heading: 'Information',
                            text: 'Please select client to continue',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background
                        })
                    }
                });


            });

        
            function Edit(companyId) {
                window.location.href = "Company/AddOrEdit/" + companyId;
            }


</script>*@



