
@{
    ViewBag.Title = "ViewQuation";
}
@model InvoiceDiskLast.Models.MVCQutationViewModel

@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var QutationModel = ViewBag.QutationDat;
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row">
    @if (TempData["EmailMessge"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong>@TempData["EmailMessge"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

<body class="well">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
        <div class="col-lg-8 col-md-8 col-sm-10">
            <div class="row" style="margin-left:0px;margin-right:0px;">

                @using (Html.BeginForm("DownloadFile", "QutationService", FormMethod.Post, new { id = "DownloadFile1" }))
                {
                    <input type="hidden" name="FilePath1" id="FilePath" />
                    <button type="submit" id="downloadf" class="hidden" style="visibility:hidden;"></button>
                }




                <div class="row" style="margin-left:0px;margin-right:0px;">

                    <div class="btn-group">

                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" style="width:150px;">
                                <i class="fa fa-envelope" style="margin-right:40px;color:yellow"></i>
                                Send
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Send qutation by Email", "InvoicebyEmail", "QutationService", new { QutationId = QutationModel.QutationID }, htmlAttributes: new { @class = "  fa fa-download" })</li>
                                <li class="divider"></li>
                                <li><a href="#"></a></li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink(" Print qutation and send it yourself ", "Print", "QutationService", new { QutationID = QutationModel.QutationID }, htmlAttributes: new { @class = "  fa fa-download" })</li>
                            </ul>
                        </div>
                        <div style="margin-left:3px">
                            <div class="btn-group">
                                <i class="fa fa-print btn btn-success" aria-hidden="true" style="color:yellow"></i>
                                @Html.ActionLink("print concept", "Print", "QutationService", new { QutationID = QutationModel.QutationID }, new { @class = "btn btn-success" })
                            </div>
                        </div>
                        <div style="margin-left:3px">
                            <a href="/QutationService/AddOrEdit/@QutationModel.QutationID" class="btn btn-success" style="margin-left:3px"><i class="fa fa-pencil" aria-hidden="true" style="margin-right:10px;color:yellow"></i>Change</a>
                        </div>

                        <div style="margin-left:3px">
                            <a href="/MVCQutation/Index/" class="btn btn-success" visibility:hidden;" id="BackToHome"><i class="fa fa-angle-double-left" style="margin-right:5px;color:yellow"></i>Go To List</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:10px;border: 1px solid #CECECE;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="mydiv">
                            <img src="@Url.Content("~/Images/"+ @CompanyDatas.CompanyLogo)" id="targetImg" style="border:none;  margin-top:50px" />
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        @if(Contectdatas.ContactName != null) { @Contectdatas.ContactName}
                       @*@(Contectdatas.ContactName!= null && Contectdatas.ContactName != "" ? Contectdatas.ContactName:"")*@
                      
                        <br />
                        @Contectdatas.ContactAddress
                        <br />
                        @Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City,
                        <br />
                        @Contectdatas.PostalCode



                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-xs-4 col-sm-2 col-md-4 col-lg-4"></div>
                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 text-left" style="color:skyblue"><b>@CompanyDatas.CompanyName</b></div>
                            <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3 text-right">Kvk nr:</div>
                            <div class="col-sm-8">@CompanyDatas.KVK</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><div class="pull-right"> BTW nr:</div></div>
                            <div class="col-sm-8">@CompanyDatas.BTW</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2 pull-right"><div class="text-right">Bank:</div></div>
                            <div class="col-sm-8">@CompanyDatas.BankName</div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4 pull-right"><div class="text-right">IBAN:</div></div>
                            <div class="col-sm-8">@CompanyDatas.IBANNumber</div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4 pull-right"><div class="text-right">BIC:</div></div>
                            <div class="col-sm-8">@CompanyDatas.BIC</div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4"><div class="text-right">Tel:</div></div>
                            <div class="col-sm-8">@CompanyDatas.CompanyPhone</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2"><div class="text-right">Cel:</div></div>
                            <div class="col-sm-8">@CompanyDatas.CompanyCell</div>
                        </div>

                        <div class="row">

                            <div class="col-sm-4 pull-right"><div class="text-right">E-mail:</div></div>
                            <div class="col-sm-8">@CompanyDatas.CompanyEmail</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3 pull-right"><div class="text-right">Website:</div></div>
                            <div class="col-sm-8">@CompanyDatas.Website</div>
                        </div>

                        <div class="row">

                            <div class="col-sm-4 pull-right"><div class="text-right">Bezoekadres:</div></div>
                            <div class="col-sm-8">
                                @CompanyDatas.CompanyAddress<br />
                                @CompanyDatas.PostalCode   @CompanyDatas.CompanyCity <br />
                                @CompanyDatas.CompanyCountry
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                    <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6 text-left">
                        <label>Factuurdatum</label>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-right">
                        <label>@QutationModel.QutationDate</label><br />
                    </div>
                    <div class="col-lg-7 col-md-4 col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                    <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6 text-left">
                        <label>Factuurnummer</label>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-right">
                        <label>@QutationModel.RefNumber</label><br />
                    </div>
                    <div class="col-lg-7 col-md-4 col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                    <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6 text-left">
                        <label>Vervalidatum</label>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-right">
                        <label>@QutationModel.DueDate</label><br />
                    </div>
                    <div class="col-lg-7 col-md-4 col-sm-3"></div>
                </div>


                <div class="row" style="margin-right: 66px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
                    ontvangt de offerte van ons voor de onderstaande services.

                    <table id="mytable" class="table table-bordred table-striped table-responsive">
                        <thead>
                            <tr>
                                <th class="col-sm-4">
                                    productnaam
                                </th>
                                <th class="col-sm-2">
                                    Quantity
                                </th>
                                <th class="col-sm-2">
                                    Prijs
                                </th>
                                <th class="col-sm-2">
                                    Totaal
                                </th>
                                <th class="col-sm-1">
                                    Vat
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewBag.QutationDatailsList != null)
                            {
                                foreach (var item in ViewBag.QutationDatailsList)
                                {
                                    <tr id="mainrow">
                                        <td>
                                            @item.ItemName
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @item.Rate
                                        </td>
                                        <td>
                                            @item.Total
                                        </td>
                                        <td>
                                            @item.Vat
                                        </td>


                                    </tr>
                                }
                            }

                        </tbody>

                    </table>
                    <div class="col-lg-8 col-md-6 col-sm-2 col-xs-0"></div>

                    <div class="col-lg-4 col-md-8 col-sm-10">
                        <div class="row">
                            <div class="col-lg-9 col-md-6 col-sm-7 col-xs-6">
                                <label class="tex-right">Total excl. VAT:	€	</label>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-5 col-xs-6">
                                <label class="text-right">@QutationModel.SubTotal</label>
                            </div>
                            <div class="col-lg-0 col-md-0 col-sm-0">
                            </div>
                        </div>

                        <div class="row">

                            @if (QutationModel.TotalVat6 != 0 && QutationModel.TotalVat6 != null)
                            {
                                <div class="col-lg-9 col-md-6 col-sm-7 col-xs-6">
                                    <label class="text-right">VAT 6%:	€	</label>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-5 col-xs-6">
                                    <label class="text-right">@QutationModel.TotalVat6</label>
                                </div>
                                <div class="col-lg-0 col-md-0 col-sm-0">
                                </div>
                            }
                        </div>

                        <div class="row">

                            @if (QutationModel.TotalVat21 != 0 && QutationModel.TotalVat21 != null)
                            {
                                <div class="col-lg-9 col-md-6 col-sm-7 col-xs-6">
                                    <label class="tex pull-right">VAT 21%:	€</label>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-5 col-xs-6">
                                    <label class="tex pull-right">@QutationModel.TotalVat21</label>
                                </div>
                                <div class="col-lg-0 col-md-0 col-sm-0">
                                </div>

                            }
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-9 col-md-6 col-sm-7 col-xs-6">
                                <label class="text-right">Eindtotaal:€</label>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-5 col-xs-6">
                                <label class="text-right">€:@QutationModel.TotalAmount</label>

                            </div>
                            <div class="col-lg-0 col-md-0 col-sm-0">
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-7"> We hopen dat alles duidelijk is. Laat het ons weten als u vragen heeft.</div>
                    <div class="col-lg-5"></div>

                    <div class="col-lg-7"> Met vriendelijke groet</div>
                    <div class="col-lg-5"></div>

                    <div class="col-lg-7" style="margin-top:10px"><b>@Contectdatas.ContactName</b></div>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-7"><b>@CompanyDatas.CompanyName</b></div>
                    <div class="col-lg-5"></div>

                    @*<div class="row" style="margin-right: 0px; margin-top: 20px;">
                            We hopen dat alles duidelijk is. Laat het ons weten als u vragen heeft.
                        </div>


                        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 20px;">
                            <br /> Met vriendelijke groet,
                        </div>
                        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 10px;">
                            <label><b>@Contectdatas.ContactName</b></label>


                        </div>

                        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 10px;">
                            <label><b>@CompanyDatas.CompanyName</b> </label>
                        </div>*@
                    <hr style="border:solid 1px; margin-left:30px;margin-right:30px; margin-bottom:50px" />

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1"></div>
        </div>
    </div>
</body>
<script>

    $(document).ready(function () {
        debugger;
        var patth = localStorage.getItem('path1');
        $("#FilePath").val(patth);

        if ($("#FilePath").val().length > 0) {
            $('#DownloadFile1').submit();
        }
        $("#FilePath").val('');
        localStorage.removeItem('path1');
    })
</script>
