@model  InvoiceDiskLast.Models.SearchModel

@{
    ViewBag.Title = "Journal";
    double? Dr = 0, Cr = 0;
}


<style>
    .table th, .table td {
        border: none !important;
    }
</style>


@{
    InvoiceDiskLast.Models.MVCCompanyInfoModel _videwModel = new InvoiceDiskLast.Models.MVCCompanyInfoModel();

    _videwModel = (InvoiceDiskLast.Models.MVCCompanyInfoModel)TempData["Compantinfo"];
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @using (Html.BeginForm("Journal", "Reports", FormMethod.Post, new { id = "frmsearch" }))
        {
            <div class="row">
                <div class="col-sm-1">
                    @Html.ActionLink("PrintK", actionName: "PrintJournal", controllerName: "Reports", routeValues: new { FromDate = Model.FromDate, Todate = Model.Todate }, htmlAttributes: null)              
                  </div>

                <div class="col-sm-1">From:</div>
                <div class="col-sm-3">@Html.EditorFor(model => model.FromDate, new { @class = "input-sm" })</div>
                <div class="col-sm-1">
                    To:
                </div>
                <div class="col-sm-3">@Html.EditorFor(model => model.Todate, new { @class = "input-sm" })</div>
                
                
                <button type="submit" class="btn btn-primary btn-sm" name="SendEmail" value="SendEmail"><i class="fa ti-face-smile"></i>send by email</button>
                <div class="col-sm-1">
                    
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>Search</button>
                      
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-md-2"></div>
</div>



<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-0">
    </div>

    <div class="col-md-8 col-lg-8 col-sm-12" style="border:1px solid">
        @{

            <div class="row">
                <div class="col-md-6 mydiv">
                    <img src="@Url.Content("~/Images/" + _videwModel.CompanyLogo)" id="targetImg" style="border:none;" />

                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-4">Conatct</div>
                        <div class="col-md-8">@_videwModel.CompanyCell</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Email</div>
                        <div class="col-md-8">@_videwModel.CompanyEmail</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Address</div>
                        <div class="col-md-8">@_videwModel.CompanyAddress</div>
                    </div>
                </div>
            </div>



            <table class="table" id="orderdetailsitemsp">
                <thead style="border-bottom:1px solid">

                    <tr style="border-top:1px solid">
                        <th colspan="2">Date</th>
                        <th colspan="10">Account</th>
                        <th colspan="1" style="text-align:center">Dr</th>
                        <th colspan="1" style="text-align:center">Cr</th>
                    </tr>
                </thead>

                <tbody>
                   @{ 
                            if (Model._TransactionList != null)
                            {
                                foreach (var item in Model._TransactionList)
                                {
                                    Dr = Dr + item.AmountDebit;
                                    Cr = Cr + item.AmountCredit;                   

                                    <tr>
                                        <td style="border-right:1px solid !important;" colspan="2">@item.TranDate.</td>
                                        <td style="border-right:1px solid !important" colspan="10">@item.AccountCode  @item.AccountTitle</td>
                                        <td style="border-right:1px solid !important;text-align:right" colspan="1">@item.AmountDebit</td>
                                        <td colspan="1" style="text-align:right">@item.AmountCredit</td>

                                    </tr>

                                }
                            }
                       
                        else
                        {
                            <tr>
                                <td><h4>No record found</h4> </td>
                            </tr>
                        }

                    }

                </tbody>
                <tfoot>
                    <tr style="border-top:1px solid">
                        <td colspan="8"></td>
                        <td colspan="4"><b>Total</b></td>
                        <td style="text-align:right"><b>@Dr</b></td>
                        <td colspan="1" style="text-align:right"><b>@Cr</b></td>
                    </tr>
                </tfoot>


            </table>

            
        }
    </div>

   
    <div class="col-md-2 col-lg-2 col-sm-0"></div>
</div>
