


@{
    ViewBag.Title = "Journal";
    double Dr = 0, Cr = 0;
    int count = 0;
    int countr = 0;
}
<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <style>
        tr {
            page-break-inside: avoid;
        }
    </style>

</head>
<body>

    <style>
        .table th, .table td {
            border: none !important;
        }
    </style>


    @{
        InvoiceDiskLast.Models.MVCCompanyInfoModel _videwModel = new InvoiceDiskLast.Models.MVCCompanyInfoModel();

        List<InvoiceDiskLast.Models.TransactionModel> _videwModel2 = new List<InvoiceDiskLast.Models.TransactionModel>();

        if (ViewBag.JournalList != null)
        {
            _videwModel2 = ViewBag.JournalList as List<InvoiceDiskLast.Models.TransactionModel>;
        }


    }




    <div class="row">
        <div class="col-sm-2">
        </div>

        <div class="col-sm-8">
            @{

                <div class="row">
                    <div class="col-sm-6 mydiv">
                        <img src="~/images/logo.png184502514.png" style="width:140px;height:140px" />
                    </div>
                    <div class="col-sm-4">
                        <div class="row" style="margin-top:20px;">
                            <div class="col-xs-4">Conatct</div>
                            <div class="col-xs-8">@_videwModel.CompanyCell</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">Email</div>
                            <div class="col-sm-8">@_videwModel.CompanyEmail</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">Address</div>
                            <div class="col-sm-8">@_videwModel.CompanyAddress</div>
                        </div>
                    </div>
                </div>



                <table class="table" id="orderdetailsitemsp">
                    <thead style="border-bottom:1px solid">

                        <tr style="border-top:1px solid">
                            <th colspan="2">Date</th>
                            <th colspan="10">Account</th>
                            <th colspan="1" style="text-align:center">Dr</th>
                            <th colspan="1" style="text-align:center">Cr</th>
                        </tr>
                    </thead>



                    <tbody>
                        @{
                            string Tdate = "";

                            count = _videwModel2.Count();

                            if (_videwModel2.Count() > 0)
                            {
                                foreach (var item in _videwModel2)
                                {
                                    countr += 1;


                                    if (item.TranDate != null)
                                    {
                                        Tdate = item.TranDate.Value.ToShortDateString().ToString();
                                    }

                                    if (item.AmountDebit != null)
                                    {
                                        Dr = Convert.ToDouble(Dr + item.AmountDebit);
                                    }
                                    if (item.AmountCredit != null)
                                    {
                                        Cr = Convert.ToDouble(Cr + item.AmountCredit);
                                    }

                                    <tr style="border-top:1px solid">
                                        <td style="border-right:1px solid !important;" colspan="2">@Tdate</td>
                                        <td style="border-right:1px solid !important" colspan="10">@item.AccountCode  @item.AccountTitle</td>
                                        <td style="border-right:1px solid !important;text-align:right" colspan="1">@item.AmountDebit</td>
                                        <td colspan="1" style="text-align:right">@item.AmountCredit</td>

                                    </tr>

                                    if (countr == count)
                                    {
                                        <tr style="border-top:1px solid">
                                            <td colspan="8"></td>
                                            <td colspan="4"><b>Total</b></td>
                                            <td style="text-align:right"><b>@Dr</b></td>
                                            <td colspan="1" style="text-align:right"><b>@Cr</b></td>

                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-sm-2"></div>
    </div>
</body>
</html>