
@{
    Layout = null;
}



@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var purchaseModel = ViewBag.Purchase;

}

<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/CustomClasses/QutationPurchaseCustomStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <div class="row" style="margin-top:35px">
                    <div class="col-xs-12 HeadText">
                        Bill
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-7">
                        <img src="@Url.Content("~/Images/" + @CompanyDatas.CompanyLogo)" class="image-Size" id="targetImg" style="border:none" />

                        <div class="row clientInfo" style="margin-top:50px">
                            <div class="col-xs-12">@Contectdatas.ContactName</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">@Contectdatas.ContactAddress <br />@Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City</div>
                        </div>


                        <div class="row" style="margin-top:20px">
                            <div class="col-xs-4">
                                Invoice Date:
                            </div>
                            <div class="col-xs-6">
                                @purchaseModel.PurchaseDate
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                Invoice Number:
                            </div>
                            <div class="col-xs-6">
                                @purchaseModel.Purchase_ID
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                Due Date:
                            </div>
                            <div class="col-xs-6">
                               @purchaseModel.PurchaseDueDate
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                Reference No:
                            </div>
                            <div class="col-xs-6">
                               @purchaseModel.PurchaseRefNumber
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                    </div>

                    <div class="col-xs-5">
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-7 CmpColor">@CompanyDatas.CompanyName</div>
                            <div class="col-xs-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">Kvk nr:</div>
                            <div class="col-xs-7">@CompanyDatas.KVK</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">BTW nr:</div>
                            <div class="col-xs-7">@CompanyDatas.BTW</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">Bank:</div>
                            <div class="col-xs-7">@CompanyDatas.BankName</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">IBAN No:</div>
                            <div class="col-xs-7">@CompanyDatas.IBANNumber</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">BIC No:</div>
                            <div class="col-xs-7">@CompanyDatas.BIC</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">Telephone:</div>
                            <div class="col-xs-7">@CompanyDatas.CompanyPhone</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">Cell No:</div>
                            <div class="col-xs-7">@CompanyDatas.CompanyCell</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">E-mail:</div>
                            <div class="col-xs-7">@CompanyDatas.CompanyEmail</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">Website:</div>
                            <div class="col-xs-7">@CompanyDatas.Website</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">Address:</div>
                            <div class="col-xs-7">
                                @CompanyDatas.CompanyAddress<br />
                                @CompanyDatas.PostalCode,@CompanyDatas.CompanyCity <br />
                                @CompanyDatas.CompanyCountry
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-xs-12">
                        will receive the Purchase Invoice from us for the services below.
                        <table id="mytable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-xs-4">
                                        Service
                                    </th>
                                    <th class="col-xs-2">
                                        Number of hour
                                    </th>
                                    <th class="col-xs-2">
                                        Hourly rate
                                    </th>
                                    <th class="col-xs-2">
                                        Total
                                    </th>
                                    <th class="col-xs-2">
                                        Vat%
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    int rowcount = 0;
                                }


                                @if (ViewBag.PurchaseDatailsList != null)
                                {
                                    foreach (var item in ViewBag.PurchaseDatailsList)
                                    {
                                        rowcount += 1;
                                        <tr>
                                            <td>
                                                @item.PurchaseItemName
                                            </td>
                                            <td>
                                                @item.PurchaseQuantity
                                            </td>
                                            <td>
                                                @item.PurchaseItemRate
                                            </td>
                                            <td>
                                                @item.PurchaseTotal
                                            </td>
                                            <td>
                                                @item.PurchaseVatPercentage
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-7">
                    </div>
                    <div class="col-xs-5">
                        <div class="row">
                            <div class="col-xs-5 text-right">Sub Total:</div>
                            <div class="col-xs-7 text-right"><span id="SubTotal">@purchaseModel.PurchaseSubTotal</span></div>

                        </div>
                        <div class="row">
                            <div class="col-xs-5 text-right">Total excel BTW:</div>
                            <div class="col-xs-7 text-right"><span id="TotalBTW">@purchaseModel.PurchaseSubTotal</span></div>
                        </div>
                        @if (purchaseModel.Vat6 != 0 && purchaseModel.Vat6 != null)
                        {
                            <div class="row">
                                <div class="col-xs-5 text-right">
                                    <label class="tex pull-right">VAT 6%:€</label>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <label class="tex pull-right">@purchaseModel.Vat6</label>
                                </div>
                            </div>
                        }

                        @if (purchaseModel.Vat21 != 0 && purchaseModel.Vat21 != null)
                        {
                            <div class="row">
                                <div class="col-xs-5 text-right">
                                    <label class="tex pull-right">VAT 21%:€</label>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <label class="tex pull-right">@purchaseModel.Vat21</label>
                                </div>
                            </div>
                        }

                        <div class="row Grand-color">
                            <div class="col-xs-5 text-right">Grand Total:</div>
                            <div class="col-xs-7 text-right">
                                <label id="BTW21">&euro;:@purchaseModel.PurchaseTotoalAmount</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
