
@{ 
    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var commonModel = ViewBag.commonModel;
}

<input type="hidden" value="@CompanyDatas.CompanyID" id="CompanyID" />
<input type="hidden" value="@Contectdatas.ContactsId" id="ConatctId" />

<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <img src="~/images/6.jpg" class="image-Size" />
            <h3><span class="pull-right">@CompanyDatas.CompanyName</span></h3>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">

                        <h3> &nbsp;<b class="text-muted">@commonModel.Name</b></h3>
                        <h3>To,</h3>
                        <address>
                            <p class="text-muted m-l-5">
                                @Contectdatas.ContactName
                                <br />@Contectdatas.ContactAddress,@Contectdatas.StreetNumber
                                <br />@Contectdatas.PostalCode,@Contectdatas.City
                                <br />@Contectdatas.Land
                            </p>
                        </address>
                        <div class="row">
                            @{
                                DateTime dt = new DateTime();
                                dt = Convert.ToDateTime(commonModel.FromDate);
                            }
                            <div class="col-md-5">From Date:</div>
                            <div class="col-md-7"><input type="text" class="FromDate  Input-height form-control"  autocomplete="off" value="@dt.ToShortDateString()" id="QutationDate" /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">@commonModel.Name Number:</div>
                            <div class="col-md-7"><input type="text" class="form-control" id="Number_ID" value="@commonModel.Number_Id"/></div>
                        </div>
                        <div class="row">
                            @{
                                DateTime dt1 = new DateTime();
                                dt1 = Convert.ToDateTime(commonModel.DueDate);
                             }
                            <div class="col-md-5">Due Date:</div>
                            <div class="col-md-7"><input type="text" class="DueDate  Input-height form-control" autocomplete="off" value="@dt1.ToShortDateString()" id="DueDate" /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">Reference No:</div>
                            <div class="col-md-7"><input type="text" id="ReferenceNumber" class="form-control" value="@commonModel.ReferenceNumber" /></div>
                        </div>

                    </div>
                    <div class="pull-right text-right">

                        <h3>From,</h3>
                        @*<h4 class="font-bold">Company Name</h4>*@
                        <p class="text-muted m-l-30">
                                  Kvk nr: @CompanyDatas.KVK
                            <br />BTW nr: @CompanyDatas.BTW
                            <br />Bank nr: @CompanyDatas.BankName
                            <br />IBAN nr: @CompanyDatas.IBANNumber
                            <br />BIC nr: @CompanyDatas.BIC
                            <br />Telephone: @CompanyDatas.CompanyPhone
                            <br />Cell nr: @CompanyDatas.CompanyCell
                            <br />E-mail: @CompanyDatas.CompanyEmail
                            <br />Website: @CompanyDatas.Website
                            <br /> Address: @CompanyDatas.CompanyAddress,@CompanyDatas.StreetNumber
                            <br />          @CompanyDatas.PostalCode,@CompanyDatas.CompanyCity 
                            <br />          @CompanyDatas.CompanyCountry

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/CustomScript/DateCustomeScript.js"></script>*@