<html>
<head>  
    <link href="~/CustomClasses/style.css" rel="stylesheet" />
    <link href="~/CustomClasses/print.css" rel="stylesheet" />
    @*<script type='text/javascript' src='js/jquery-1.3.2.min.js'></script>*@
    <script src="~/CustomScript/example.js"></script>
</head>

@{ 
    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
}
<body id="Partials">
    <div class="row">
        <div class="col-7 b-r">
            <div class="row">
                <img src="@Url.Content("~/Images/"+CompanyDatas.CompanyLogo)" class="image-Size" id="targetImg" style="border:none" />
            </div>
            <div class="row HeadText" style="margin-left:40px">
                @ViewBag.definition
            </div>
            <div class="row">
                <table id="meta" style="margin-top: 33px" class="tb FS" >
                    <tr>
                        <td class="meta-head" colspan="2" style="text-align:center">@Contectdatas.ContactName</td>
                    </tr>
                    <tr>
                        <td>@Contectdatas.ContactAddress @Contectdatas.StreetNumber</td>                        
                    </tr>
                    <tr>
                        <td >@Contectdatas.PostalCode, @Contectdatas.City</td>                       
                    </tr>                  
                </table>
            </div>
        </div>
        <div class="col-5 b-r">
            <table id="meta" class="FS" style="margin-top: 33px">
                <tr>
                    <td class="meta-head" colspan="2" style="text-align:center">@CompanyDatas.CompanyName</td>

                </tr>
                <tr>
                    <td class="meta-head">Kvk nr</td>
                    <td><textarea>@CompanyDatas.KVK</textarea></td>
                </tr>
                <tr>
                    <td class="meta-head">BTW nr</td>
                    <td><textarea id="date">@CompanyDatas.BTW</textarea></td>
                </tr>
                <tr>
                    <td class="meta-head">Bank</td>
                    <td><div class="due">@CompanyDatas.BankName</div></td>
                </tr>
                <tr>
                    <td class="meta-head">IBAN No</td>
                    <td><div class="due">@CompanyDatas.IBANNumber</div></td>
                </tr>
                <tr>
                    <td class="meta-head">BIC No</td>
                    <td><div class="due">@CompanyDatas.BIC</div></td>
                <tr>
                    <td class="meta-head">Phone</td>
                    <td><div class="due">@CompanyDatas.CompanyPhone</div></td>
                <tr>
                    <td class="meta-head">Cell</td>
                    <td><div class="due">@CompanyDatas.CompanyCell</div></td>
                </tr>
                <tr>
                    <td class="meta-head">E-mail</td>
                    <td><div class="due">@CompanyDatas.CompanyEmail</div></td>
                </tr>              
                <tr>
                    <td class="meta-head">Web site</td>
                    <td><div class="due">@CompanyDatas.Website</div></td>
                </tr>
                <tr>
                    <td class="meta-head">Address</td>
                    <td><div class="due">@CompanyDatas.CompanyAddress<br />
                    @CompanyDatas.PostalCode,@CompanyDatas.CompanyCity <br />
                    @CompanyDatas.CompanyCountry</div></td>
                </tr>              
            </table>
        </div> 
    </div>
</body>
</html>
