 @{
     var Contectdatas = ViewBag.Contentdata;
     var CompanyDatas = ViewBag.Companydata;
     var purchaseModel = ViewBag.Purchase;
   }

<div class="row">
    <div class="col-xs-2">
        @*two*@
    </div>
    <div class="col-xs-8" style="border:1px solid Silver">
        <div class="container">

            <div class="row" style="margin-top:35px">
                <div class="col-xs-12 HeadText">
                    <label>Bill</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-7">
                    <img class="mydiv" src="~/images/logon1.png183807568.png" />
                    <div class="row clientInfo" style="margin-top:30px">
                        <div class="col-xs-12">@Contectdatas.ContactName</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Contectdatas.ContactAddress
                        <br />
                        @Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City,
                        <br />
                        @Contectdatas.PostalCode
                    </div>
                </div>


                <div class="row" style="margin-top:20px">
                    <div class="col-xs-4">
                        Invoice Date:
                    </div>
                    @{
                        DateTime pdate = new DateTime();
                        pdate = Convert.ToDateTime(purchaseModel.PurchaseDate);
                        DateTime pddate = new DateTime();
                        pddate = Convert.ToDateTime(purchaseModel.PurchaseDueDate);
                    }
                    <div class="col-xs-6">
                        pdate
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        Invoice Number:
                    </div>
                    <div class="col-xs-8">
                        @purchaseModel.PurchaseID
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        Due Date:
                    </div>
                    <div class="col-xs-8">
                        pddate
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        Reference Number:
                    </div>
                    <div class="col-xs-8">
                        @purchaseModel.PurchaseRefNumber
                    </div>
                </div>
            </div>

            <div class="col-xs-5">
                <div class="row">
                    <div class="col-3 b-r"></div>
                    <div class="col-xs-7 CmpColor">@CompanyDatas.CompanyName</div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">kvk nr:</div>
                    <div class="col-xs-7">@CompanyDatas.KVK</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">BTW nr:</div>
                    <div class="col-xs-7">@CompanyDatas.BTW</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">IBAN:</div>
                    <div class="col-xs-7">@CompanyDatas.IBANNumber</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">BIC:</div>
                    <div class="col-xs-7">@CompanyDatas.BIC</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">Telephone:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyPhone</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">Cell:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyCell</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">E-mail:<</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyEmail</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">Website:</div>
                    <div class="col-xs-7">@CompanyDatas.Website</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">Address:</div>
                    <div class="col-xs-7">
                        @CompanyDatas.CompanyAddress<br />
                    @CompanyDatas.PostalCode   @CompanyDatas.CompanyCity <br />
                    @CompanyDatas.CompanyCountry
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top:10px">
        <div class="col-xs-12">
            will receive the bill from us for the Goods below.
            <table class="table QTtable" style="overflow: scroll">
                <thead class="thead-dark">
                    <tr>
                        <th width="350px">
                            Goods
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Vat%
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowcount = 0;
                    }
                    @if (ViewBag.PurchaseDatailsList != null)
                    {
                        foreach (var item in ViewBag.PurchaseDatailsList)
                        {
                            rowcount += 1;

                            <tr>
                                <td>
                                    @item.PurchaseItemName
                                </td>
                                <td>
                                    @item.PurchaseQuantity
                                </td>

                                <td>
                                    @item.PurchaseItemRate
                                </td>
                                <td>
                                    @item.PurchaseTotal

                                </td>
                                <td>
                                    @item.PurchaseVatPercentage

                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-4 text-right">Total excl. VAT:€</div>
                <div class="col-xs-7 text-right">@purchaseModel.PurchaseSubTotal</div>
                <div class="col-xs-1">
                </div>
            </div>

            @if (purchaseModel.Vat6 != 0 && purchaseModel.Vat6 != null)
            {
                <div class="row">
                    <div class="col-xs-4 text-right">VAT 6%:€</div>
                    <div class="col-xs-7 text-right">@purchaseModel.Vat6</div>
                    <div class="col-xs-1">
                    </div>
                </div>
            }
            @if (purchaseModel.Vat21 != 0 && purchaseModel.Vat21 != null)
            {
                <div class="row">
                    <div class="col-xs-4 text-right">VAT 21%:€</div>
                    <div class="col-xs-7 text-right">@purchaseModel.Vat21</div>
                    <div class="col-xs-1">
                    </div>
                </div>
            }
            <hr />
            <div class="row Grand-color">
                <div class="col-xs-4 text-right">Grand Total</div>
                <div class="col-xs-7 text-right">&euro;:@purchaseModel.PurchaseTotoalAmount</div>
                <div class="col-xs-1">
                </div>
            </div>
        </div>
        <div class="col-xs-1">

        </div>
    </div>
</div>
</div>
<div class="col-xs-2">
    @*two*@
</div>
</div>




                   
                   

             