
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var purchaseModel = ViewBag.Purchase;
}


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<div class="row">
    @if (TempData["EmailMessge"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong>@TempData["EmailMessge"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>
<div class="row" style="margin-bottom:5px">
    <div class="col-2 b-r"></div>
    <div class="col-8 b-r">
        <div class="btn-group">

            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" style="width:150px;">
                    <i class="fa fa-envelope" style="margin-right:40px;color:yellow"></i>
                    Send
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("Send Invoice by Email", "InvoicebyEmail", "Purchase", new { purchaseOrderId = purchaseModel.PurchaseOrderID }, htmlAttributes: new { @class = "  fa fa-download" })</li>
                    <li class="divider"></li>
                    <li><a href="#"></a></li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink(" Print Invoice and send it yourself ", "Print", "Purchase", new { purchaseOrderId = purchaseModel.PurchaseOrderID }, htmlAttributes: new { @class = "  fa fa-download" })</li>
                </ul>
            </div>

            <div style="margin-left:3px">
                <div class="btn-group">
                    <i class="fa fa-print btn btn-success" aria-hidden="true" style="color:yellow"></i>
                    @Html.ActionLink("print concept", "PrintPurchase", "Purchase", new { purchaseOrderId = purchaseModel.PurchaseOrderID }, new { @class = "btn btn-success" })
                </div>
            </div>

            <div style="margin-left:3px">
                <a href="/Purchase/Edit/?Id=@purchaseModel.PurchaseOrderID" class="btn btn-success" style="margin-left:3px"><i class="fa fa-pencil" aria-hidden="true" style="margin-right:10px;color:yellow"></i>Change</a>
            </div>

            <div style="margin-left:3px">
                <a href="/Purchase/Index/" class="btn btn-success" visibility:hidden;" id="BackToHome"><i class="fa fa-angle-double-left" style="margin-right:5px;color:yellow"></i>Go To List</a>
            </div>
        </div>
    </div>
    <div class="col-2 b-r"></div>
</div>

<div class="row">
    <div class="col-2 b-r">
        @*two*@
    </div>
    <div class="col-8 b-r" style="border:1px solid Silver">
        <div class="container">


            @using (Html.BeginForm("DownloadFile", "Purchase", FormMethod.Post, new { id = "DownloadFile1" }))
            {
                <input type="hidden" name="FilePath1" id="FilePath" />
                <button type="submit" id="downloadf" class="hidden" style="visibility:hidden;"></button>
            }
            <div class="row">
                <div class="col-7 b-r">
                    <img src="@Url.Content("~/Images/"+ @CompanyDatas.CompanyLogo)" id="targetImg" class="image-Size" />

                    <div class="row" style="margin-top:20px">
                        <div class="col-12 b-r HeadText">
                            <label>Purchase</label>
                        </div>
                    </div>
                    <div class="row clientInfo" style="margin-top:20px">
                        <div class="col-12 b-r">@Contectdatas.ContactName</div>
                    </div>
                    <div class="row">
                        <div class="col-12 b-r">
                            @Contectdatas.ContactAddress
                            <br />
                            @Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City
                        </div>
                    </div>

                    Purchase Date:
                    @{
                        DateTime pdate = new DateTime();
                        pdate = Convert.ToDateTime(purchaseModel.PurchaseDate);

                        DateTime dDate = new DateTime();
                        dDate = Convert.ToDateTime(purchaseModel.PurchaseDueDate);

                    }

                    <div class="row" style="margin-top:20px">
                        <div class="col-4 b-r">
                            Purchase Date:
                        </div>
                        <div class="col-8 b-r">
                            @pdate.ToShortDateString()
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 b-r">
                            Purchase Number:
                        </div>
                        <div class="col-8 b-r">
                            @purchaseModel.PurchaseOrderID
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 b-r">
                            Due Date:
                        </div>
                        <div class="col-8 b-r">
                            @dDate.ToShortDateString()
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 b-r">
                            Reference number:
                        </div>
                        <div class="col-8 b-r">
                            @purchaseModel.PurchaseRefNumber
                        </div>
                    </div>
                </div>

                <div class="col-5 b-r" style="margin-top:40px">
                    <div class="row">
                        <div class="col-3 b-r"></div>
                        <div class="col-7 b-r CmpColor">@CompanyDatas.CompanyName</div>
                        <div class="col-2 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Kvk nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.KVK</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.BTW</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Bank:</div>
                        <div class="col-7 b-r">@CompanyDatas.BankName</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">IBAN:</div>
                        <div class="col-7 b-r">@CompanyDatas.IBANNumber</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BIC:</div>
                        <div class="col-7 b-r">@CompanyDatas.BIC</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Telephone:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyPhone</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Cell:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyCell</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">E-mail:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyEmail</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Website:</div>
                        <div class="col-7 b-r">@CompanyDatas.Website</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Address</div>
                        <div class="col-7 b-r">
                            @CompanyDatas.CompanyAddress<br />
                            @CompanyDatas.PostalCode   @CompanyDatas.CompanyCity <br />
                            @CompanyDatas.CompanyCountry
                        </div>
                    </div>
                </div>
            </div>

            <p></p>

            @{
                List<InvoiceDiskLast.Models.MvcPurchaseViewModel> InvoiceListGoods = new List<InvoiceDiskLast.Models.MvcPurchaseViewModel>();
            }
            @if (ViewBag.PurchaseDatailsList != null)
            {
                InvoiceListGoods = ViewBag.PurchaseDatailsList as List<InvoiceDiskLast.Models.MvcPurchaseViewModel>;

                InvoiceListGoods = InvoiceListGoods.Where(G => G.Type == "Goods").ToList();

                if (InvoiceListGoods != null && InvoiceListGoods.Count > 0)
                {
                    <div class="row">
                        <div class="col-12 b-r">
                            <table class="table table-striped" id="orderdetailsitems">
                                <thead class="thead-dark">
                                    <tr>


                                        <th>
                                            Goods
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                        <th>
                                            Vat%
                                        </th>
                                        <th>
                                            SubTotal
                                        </th>

                                    </tr>
                                </thead>

                                <tbody class="tbody">


                                    @foreach (var item in ViewBag.PurchaseDatailsList)
                                    {
                                        if (item.Type == "Goods")
                                        {
                                            <tr id="mainrow">
                                                <td>
                                                    @item.PurchaseItemName
                                                </td>
                                                <td>
                                                    @item.PurchaseQuantity
                                                </td>
                                                <td>
                                                    @item.PurchaseItemRate
                                                </td>
                                                <td>
                                                    @item.PurchaseTotal
                                                </td>
                                                <td>
                                                    @item.PurchaseVatPercentage
                                                </td>
                                                <td>
                                                    @item.RowSubTotal
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>

                            </table>
                        </div>

                    </div>
                }


            }

            @if (ViewBag.PurchaseDatailsList != null)
            {
                InvoiceListGoods = ViewBag.PurchaseDatailsList as List<InvoiceDiskLast.Models.MvcPurchaseViewModel>;

                InvoiceListGoods = InvoiceListGoods.Where(G => G.Type == "Service").ToList();

                if (InvoiceListGoods != null && InvoiceListGoods.Count > 0)
                {

                    <div class="row">
                        <div class="col-12 b-r">
                            <table class="table table-striped" id="QutationServiceDetail1">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>

                                        <th>
                                            Services
                                        </th>
                                        <th>Decription</th>
                                        <th>
                                            hour
                                        </th>
                                        <th>
                                            Hourly rate
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                        <th>
                                            Vat %
                                        </th>
                                        <th>
                                            SubTotal
                                        </th>


                                    </tr>

                                </thead>
                                <tbody class="tbody"></tbody>

                                @foreach (var item in ViewBag.PurchaseDatailsList)
                                {

                                    if (item.Type == "Service")
                                    {
                                        DateTime dt = new DateTime();
                                        dt = Convert.ToDateTime(item.ServiceDate);
                                        <tr id="mainrow">
                                            <td>
                                                @dt.ToShortDateString()
                                            </td>

                                            <td>
                                                @item.PurchaseItemName
                                            </td>
                                            <td>
                                                @item.PurchaseDescription
                                            </td>

                                            <td>
                                                @item.PurchaseQuantity
                                            </td>
                                            <td>
                                                @item.PurchaseItemRate
                                            </td>
                                            <td>
                                                @item.PurchaseTotal
                                            </td>
                                            <td>
                                                @item.PurchaseVatPercentage
                                            </td>
                                            <td>
                                                @item.RowSubTotal
                                            </td>
                                        </tr>
                                    }

                                }
                            </table>
                        </div>
                    </div>
                }
            }


            <hr />
            <div class="row">
                <div class="col-7 b-r">
                </div>
                <div class="col-5 b-r">
                    <div class="row">
                        <div class="col-4 b-r text-right">Total excl. VAT:€</div>
                        <div class="col-7 b-r text-right">@purchaseModel.PurchaseSubTotal</div>
                        <div class="col-1 b-r">
                        </div>
                    </div>
                    <div class="row">
                        @if (purchaseModel.Vat6 != 0 && purchaseModel.Vat6 != null)
                        {
                            <div class="col-4 b-r text-right">VAT 6%:€</div>

                            <div class="col-7 b-r text-right">@purchaseModel.Vat6</div>
                            <div class="col-1 b-r">
                            </div>
                        }
                    </div>

                    <div class="row">
                        @if (purchaseModel.Vat21 != 0 && purchaseModel.Vat21 != null)
                        {
                            <div class="col-4 b-r text-right">VAT 21%:€</div>

                            <div class="col-7 b-r text-right">@purchaseModel.Vat21</div>
                            <div class="col-1 b-r">
                            </div>
                        }
                    </div>
                    <div class="row Grand-color">
                        <div class="col-4 b-r text-right">Grand Total:</div>
                        <div class="col-7 b-r text-right">&euro;: @purchaseModel.PurchaseTotoalAmount</div>
                        <div class="col-1 b-r">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 b-r">
                    <table class="table table-hover" id="participantTable">
                        <tbody id="upload123">
                            @if (ViewBag.FILE != null)
                            {
                                foreach (var item in ViewBag.FILE)
                                {
                                    <tr>
                                        <td>
                                            <a href="@item.FileFolderPathe/@item.DirectoryPath" target="_blank"><span class="badge badge-success"><i class="icon-minus-sign"></i> @item.DirectoryPath</span></a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <div class="col-6 b-r"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-8 b-r">
                    We hopen dat alles duidelijk is. Laat het ons weten als u vragen heeft.
                </div>
                <div class="col-4 b-r"></div>
            </div>
            <div class="row">
                <div class="col-8 b-r">
                    Met vriendelijke groet.
                </div>
                <div class="col-4 b-r"></div>
            </div>

            <p></p>
            <div class="row Grand-color-CompanyName">
                <div class="col-6 b-r">@Contectdatas.ContactName</div>
                <div class="col-6 b-r"></div>
            </div>
            <div class="row Grand-color-CompanyName">
                <div class="col-6 b-r">@CompanyDatas.CompanyName</div>
                <div class="col-6 b-r"></div>
            </div>


        </div>
    </div>
    <div class="col-2 b-r">
        @*two*@
    </div>
</div>







<script type="text/javascript">

    $(document).ready(function () {
        var patth = localStorage.getItem('path');
        $("#FilePath").val(patth);
        if ($('input#FilePath').val() == "") {
        }
        else {
            $('#DownloadFile1').submit();
            $("#FilePath").val('');
            localStorage.removeItem('path');
        }
    });

</script>
