
@{
    Layout = null;
}



@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var purchaseModel = ViewBag.Purchase;

}

<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>

    <div style="margin-top:10px;border: 1px solid #CECECE;">
        @*<div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px;">
            <img src="@Url.Content("~/images/"+CompanyDatas.CompanyLogo)" class="img-responsive" id="targetImg" style="height:100px; width:100px;border:none" />
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
            <div class="col-xs-4">
                <label>@CompanyDatas.CompanyName</label>
                <br />
                <label>@CompanyDatas.CompanyCity</label>
                <br />
                @{
                    string value = CompanyDatas.CompanyPhone;
                    if (value != "" && value != "undefined")
                    { <label>T:@CompanyDatas.CompanyPhone</label> }
                    else
                    { <label>T:</label>  }
                }


                <br />
                <label>@CompanyDatas.CompanyEmail</label>
            </div>
            <div class="col-xs-4">
                <img src="https://www.factuurdesk.nl/images/layout/offerte_concept.png" />
            </div>
            <div class="col-xs-4">
                <label>@CompanyDatas.CompanyName</label><br />
                <label> @Contectdatas.ContactName</label>
            </div>
        </div>*@
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
                <img src="@Url.Content("~/Images/"+ @CompanyDatas.CompanyLogo)" class="img-responsive" id="targetImg" style="height:100px; width:100px;border:none" />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />


                @Contectdatas.ContactName
                <br />
                @Contectdatas.ContactAddress
                <br />
                @Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City,
                <br />
                @Contectdatas.PostalCode

                <div ></div>

            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-5">
                <br />
                <br />
                <br />
                <h5 style="margin-left:125px">@CompanyDatas.CompanyName</h5>
                <hr />
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3 text-right" >Kvk nr:</div>
                    <div class="col-xs-7">@CompanyDatas.KVK</div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3 text-right">BTW nr:</div>
                    <div class="col-xs-7">@CompanyDatas.BTW</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">Bank:</div>
                    <div class="col-xs-7">@CompanyDatas.BankName</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">IBAN:</div>
                    <div class="col-xs-7">@CompanyDatas.IBANNumber</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">BIC:</div>
                    <div class="col-xs-7">@CompanyDatas.BIC</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">Tel:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyPhone</div>
                </div>

                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2 text-right">Cel:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyCell</div>
                </div>

                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3 text-right">E-mail:</div>
                    <div class="col-xs-7">@CompanyDatas.CompanyCell</div>
                </div>

                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3 text-right">Website:</div>
                    <div class="col-xs-7">@CompanyDatas.Website</div>
                </div>

                <div class="row">
                    <div class="col-xs-1"></div>
                        <div class="col-xs-4 text-right">
                            Bezoekadres:
                        </div>
                        <div class="col-xs-7">
                            @CompanyDatas.CompanyAddress<br />
                            @CompanyDatas.PostalCode   @CompanyDatas.CompanyCity <br />
                            @CompanyDatas.CompanyCountry
                        </div>
                    </div>


            </div>
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 50px;">

           <label style="margin-left:16px"><b>Invoice</b></label>
           
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 10px;">

            <div class="col-xs-2">
                <label>Factuurdatum</label><br />
                <label>offer number</label><br />
                <label>valid untill</label>
            </div>
            <div class="col-xs-3">
                <label>@purchaseModel.PurchaseDate</label><br />
                <label>@purchaseModel.PurchaseRefNumber</label><br />
                <label>@purchaseModel.PurchaseDueDate</label>
            </div>
        </div>
        <div class="row" style="margin-right: 66px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
            will receive the quotation from us for the services below.

            <table id="mytable" class="table table-bordred table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="col-xs-4">
                            Product Name
                        </th>
                        <th class="col-xs-2">
                            Quantity
                        </th>
                        <th class="col-xs-2">
                            Price
                        </th>
                        <th class="col-xs-2">
                            Total
                        </th>
                        <th class="col-xs-1">
                            Vat
                        </th>
                       
                    </tr>
                </thead>
                <tbody>

                    @if (ViewBag.PurchaseDatailsList != null)
                    {
                        foreach (var item in ViewBag.PurchaseDatailsList)
                        {
                            <tr>
                                <td>
                                    @item.PurchaseItemName
                                </td>
                                <td>
                                    @item.PurchaseQuantity
                                </td>

                                <td>
                                    @item.PurchaseItemRate
                                </td>
                                <td>
                                    @item.PurchaseTotal

                                </td>
                                <td>
                                    @item.PurchaseVatPercentage

                                </td>

                            </tr>
                        }
                    }
                </tbody>

            </table>
            <div class="col-xs-8"></div>
          
              <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6"></div>
                        <div class="col-xs-3">
                            <label class="tex pull-right">Total excl. VAT:€</label>
                        </div>
                        <div class="col-xs-3">
                            <label class="tex pull-right">@purchaseModel.PurchaseSubTotal</label>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-xs-6"></div>
                    @if (purchaseModel.Vat6 != 0 && purchaseModel.Vat6 != null)
                    {
                        <div class="col-xs-3">
                            <label class="tex pull-right">VAT 6%:	€	</label>
                        </div>
                        <div class="col-xs-3 ">
                            <label class="tex pull-right">@purchaseModel.Vat6</label>
                        </div>
                    }
                </div>

                <div class="row">
                    <div class="col-xs-6"></div>
                    @if (purchaseModel.Vat21 != 0 && purchaseModel.Vat21 != null)
                    {
                        <div class="col-xs-3">
                            <label class="tex pull-right">VAT 21%:	€</label>
                        </div>
                        <div class="col-xs-3">
                            <label class="tex pull-right">@purchaseModel.Vat21</label>

                        </div>
                    }


                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-3">
                        <label class="tex pull-right">Grand Total:€</label>
                    </div>

                    <div class="col-xs-3">
                        <label class="tex  pull-right">@purchaseModel.PurchaseTotoalAmount</label>

                    </div>
                </div>
            </div>

        </div>
      
    


     

        
    </div>
    <div class="footer">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
               
            </div>
            <div class="col-xs-1"></div>
        </div>
   
    
   
    
     </div>
  

   
</body>
</html>
