
@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var purchaseModel = ViewBag.Purchase;
}




<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row" style="margin-bottom:5px">
    <div class="col-2 b-r"></div>
    <div class="col-8 b-r">

        <div class="btn-group">
            <i class="fa fa-print btn btn-success" aria-hidden="true" style="color:yellow"></i>
            @Html.ActionLink("print concept", "PurchaseInvoiceSerVicePrint", "MvcInvoiceServices", new { purchaseOrderId = purchaseModel.PurchaseOrderID }, new { @class = "btn btn-success" })
        </div>
        <div class="btn-group">
            <div style="margin-left:3px">
                <a href="/Purchase/InvoiceService/" class="btn btn-success" visibility:hidden;" id="BackToHome"><i class="fa fa-angle-double-left" style="margin-right:5px;color:yellow"></i>Go To List</a>

             </div>
        </div>
    </div>
    <div class="col-2 b-r"></div>
</div>


<div class="row">
    <div class="col-2 b-r">
        @*two*@
    </div>
    <div class="col-8 b-r" style="border:1px solid Silver">
        <div class="container">

            <div class="row" style="margin-top:35px">
                <div class="col-12 b-r HeadText">
                    <label>Bill</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-7 b-r">
                    <img src="@Url.Content("~/Images/"+ CompanyDatas.CompanyLogo)" id="targetImg" />
                    <div class="row clientInfo" style="margin-top:30px">
                        <div class="col-12 b-r">@Contectdatas.ContactName</div>
                    </div>
                    <div class="row">
                        <div class="col-12 b-r">
                            @Contectdatas.ContactAddress
                        <br />
                        @Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City,
                       
                    </div>
                </div>


                <div class="row" style="margin-top:20px">
                    <div class="col-4 b-r">
                        Invoice Date:
                    </div>

                    @{
                        DateTime pdate = new DateTime();
                        pdate = Convert.ToDateTime(purchaseModel.PurchaseDate);
                        DateTime pddate = new DateTime();
                        pddate = Convert.ToDateTime(purchaseModel.PurchaseDueDate);
                    }
                    <div class="col-6 b-r">
                        @pdate.ToShortDateString();
                    </div>
                    <div class="col-2 b-r"></div>
                </div>
                <div class="row">
                    <div class="col-4 b-r">
                        Invoice Number:
                    </div>
                    <div class="col-8 b-r">
                        @purchaseModel.PurchaseID
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 b-r">
                        Due Date:
                    </div>
                    <div class="col-8 b-r">
                        @pddate.ToShortDateString();
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 b-r">
                        Reference Number:
                    </div>
                    <div class="col-8 b-r">
                        @purchaseModel.PurchaseRefNumber
                    </div>
                </div>
            </div>

            <div class="col-5 b-r">
                <div class="row">
                    <div class="col-3 b-r"></div>
                    <div class="col-7 b-r CmpColor">@CompanyDatas.CompanyName</div>
                    <div class="col-2 b-r"></div>
                </div>
                <div class="row">
                    <div class="col-5 b-r text-right">kvk nr:</div>
                    <div class="col-7 b-r">@CompanyDatas.KVK</div>
                </div>
                <div class="row">
                    <div class="col-5 b-r text-right">BTW nr:</div>
                    <div class="col-7 b-r">@CompanyDatas.BTW</div>
                </div>
                <div class="row">
                    <div class="col-5 b-r text-right">IBAN:</div>
                    <div class="col-7 b-r">@CompanyDatas.IBANNumber</div>
                </div>
                <div class="row">
                    <div class="col-5 b-r text-right">BIC:</div>
                    <div class="col-7 b-r">@CompanyDatas.BIC</div>
                </div>
                <div class="row">
                    <div class="col-5 b-r text-right">Telephone:</div>
                    <div class="col-7 b-r">@CompanyDatas.CompanyPhone</div>
                </div>
                <div class="row">
                    <div class="col-5 b-r text-right">Cell:</div>
                    <div class="col-7 b-r">@CompanyDatas.CompanyCell</div>
                </div>
                <div class="row">
                    <div class="col-5 b-r text-right">E-mail:<</div>
                    <div class="col-7 b-r">@CompanyDatas.CompanyEmail</div>
                </div>
                <div class="row">
                    <div class="col-5 b-r text-right">Website:</div>
                    <div class="col-7 b-r">@CompanyDatas.Website</div>
                </div>
                <div class="row">
                    <div class="col-5 b-r text-right">Address:</div>
                    <div class="col-7 b-r">
                        @CompanyDatas.CompanyAddress<br />
                    @CompanyDatas.PostalCode   @CompanyDatas.CompanyCity <br />
                    @CompanyDatas.CompanyCountry
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top:10px">
        <div class="col-12 b-r">
            will receive the bill from us for the Services below.
            <table class="table QTtable" style="overflow: scroll">
                <thead class="thead-dark">
                    <tr>
                        <th width="350px">
                            Services
                        </th>
                        <th>
                            Number of hour
                        </th>
                        <th>
                            Hourly rate
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Vat%
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @{

                        int rowcount = 0;

                    }

                    @if (ViewBag.PurchaseDatailsList != null)
                    {
                        foreach (var item in ViewBag.PurchaseDatailsList)
                        {
                            rowcount += 1;

                            <tr>
                                <td>
                                    @item.PurchaseItemName
                                </td>
                                <td>
                                    @item.PurchaseQuantity
                                </td>

                                <td>
                                    @item.PurchaseItemRate
                                </td>
                                <td>
                                    @item.PurchaseTotal

                                </td>
                                <td>
                                    @item.PurchaseVatPercentage

                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6 b-r">

        </div>
        <div class="col-5 b-r">
            <div class="row">
                <div class="col-4 b-r text-right">Total excl. VAT:€</div>
                <div class="col-7 b-r text-right">@purchaseModel.PurchaseSubTotal</div>
                <div class="col-1 b-r">
                </div>
            </div>

            @if (purchaseModel.Vat6 != 0 && purchaseModel.Vat6 != null)
            {
                <div class="row">
                    <div class="col-4 b-r text-right">VAT 6%:€</div>
                    <div class="col-7 b-r text-right">@purchaseModel.Vat6</div>
                    <div class="col-1 b-r">
                    </div>
                </div>
            }
            @if (purchaseModel.Vat21 != 0 && purchaseModel.Vat21 != null)
            {
                <div class="row">
                    <div class="col-4 b-r text-right">VAT 21%:€</div>
                    <div class="col-7 b-r text-right">@purchaseModel.Vat21</div>
                    <div class="col-1 b-r">
                    </div>
                </div>
            }
            <hr />
            <div class="row Grand-color">
                <div class="col-4 b-r text-right">Grand Total</div>
                <div class="col-7 b-r text-right">&euro;:@purchaseModel.PurchaseTotoalAmount</div>
                <div class="col-1 b-r">
                </div>
            </div>
        </div>
        <div class="col-1 b-r">

        </div>
    </div>
</div>
</div>
<div class="col-2 b-r">
    @*two*@
</div>
</div>







<script type="text/javascript">


    $(document).ready(function () {
        var patth = localStorage.getItem('path1');
        $("#FilePath1").val(patth);
        if ($('input#FilePath1').val() == "") {
        }
        else {
            $('#DownloadFileInvoice').submit();
            $("#FilePath1").val('');
            localStorage.removeItem('path1');
        }
    });







</script>
