
@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var purchaseModel = ViewBag.Purchase;
}


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row">
    @if (TempData["EmailMessge"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong>@TempData["EmailMessge"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>
<div class="row" style="margin-bottom:5px">
    <div class="col-2 b-r"></div>
    <div class="col-8 b-r">
        <div class="btn-group">

            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" style="width:160px;">
                    <i class="fa fa-envelope" style="margin-right:40px;color:yellow"></i>
                    Send
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("Send Invoice by Email", "InvoicebyEmail", "Purchase", new { purchaseOrderId = purchaseModel.PurchaseOrderID }, htmlAttributes: new { @class = "  fa fa-download" })</li>
                    <li class="divider"></li>
                    <li><a href="#"></a></li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink(" Print Invoice and send it yourself ", "Print", "Purchase", new { purchaseOrderId = purchaseModel.PurchaseOrderID }, htmlAttributes: new { @class = "  fa fa-download" })</li>
                </ul>
            </div>
            <div style="margin-left:3px">
                <div class="btn-group">
                    <i class="fa fa-print btn btn-success" aria-hidden="true" style="color:yellow"></i>
                    @Html.ActionLink("print concept", "Print", "Purchase", new { purchaseOrderId = purchaseModel.PurchaseOrderID }, new { @class = "btn btn-success" })
                </div>
            </div>
            <div style="margin-left:3px">
                <a href="/Purchase/AddOrEdit/@purchaseModel.PurchaseOrderID" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true" style="margin-right:10px;color:yellow"></i>Change</a>
            </div>
            @*<i class="fa fa-print" aria-hidden="true"></i>*@

            <div style="margin-left:3px">
                <a href="/Purchase/Index/" class="btn btn-success" visibility:hidden;" id="BackToHome"><i class="fa fa-angle-double-left" style="margin-right:5px;color:yellow"></i>Bake To List</a>
            </div>
        </div>
    </div>
    <div class="col-2 b-r"></div>
</div>


<div class="row">
    <div class="col-2 b-r">
        @*two*@
    </div>
    <div class="col-8 b-r" style="border:1px solid Silver">
        <div class="container">

            <div class="row" style="margin-top:35px">
                <div class="col-12 b-r HeadText">
                    <label>Purchase</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-7 b-r">
                    <img src="@Url.Content("~/Images/"+ @CompanyDatas.CompanyLogo)" id="targetImg" class="image-Size"/>
                    <div class="row clientInfo" style="margin-top:30px">
                        <div class="col-12 b-r">@Contectdatas.ContactName</div>
                    </div>
                    <div class="row">
                        <div class="col-12 b-r">
                            @Contectdatas.ContactAddress
                            <br />
                            @Contectdatas.PostalCode, @Contectdatas.StreetNumber @Contectdatas.City
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-4 b-r">
                            Purchase Date:
                            @{
                                DateTime pdate = new DateTime();
                                pdate = Convert.ToDateTime(purchaseModel.PurchaseDate);

                                DateTime dDate = new DateTime();
                                dDate = Convert.ToDateTime(purchaseModel.PurchaseDueDate);

                            }
                        </div>
                        <div class="col-8 b-r">
                           @pdate.ToShortDateString()
                        </div>                     
                    </div>
                    <div class="row">
                        <div class="col-4 b-r">
                            Purchase Number:
                        </div>
                        <div class="col-8 b-r">
                            @purchaseModel.PurchaseOrderID
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 b-r">
                            Due Date:
                        </div>
                        <div class="col-8 b-r">
                           @dDate.ToShortDateString()
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 b-r">
                            Refrence Number:
                        </div>
                        <div class="col-8 b-r">
                            @purchaseModel.PurchaseRefNumber
                        </div>
                    </div>
                </div>

                <div class="col-5 b-r">
                    <div class="row">
                        <div class="col-3 b-r"></div>
                        <div class="col-7 b-r CmpColor">@CompanyDatas.CompanyName</div>
                        <div class="col-2 b-r"></div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Kvk nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.KVK</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BTW nr:</div>
                        <div class="col-7 b-r">@CompanyDatas.BTW</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Bank:</div>
                        <div class="col-7 b-r">@CompanyDatas.BankName</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">IBAN:</div>
                        <div class="col-7 b-r">@CompanyDatas.IBANNumber</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">BIC:</div>
                        <div class="col-7 b-r">@CompanyDatas.BIC</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Tel:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyPhone</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Cell:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyCell</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">E-mail:</div>
                        <div class="col-7 b-r">@CompanyDatas.CompanyEmail</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Website:</div>
                        <div class="col-7 b-r">@CompanyDatas.Website</div>
                    </div>
                    <div class="row">
                        <div class="col-5 b-r text-right">Address:</div>
                        <div class="col-7 b-r">
                            @CompanyDatas.CompanyAddress,@CompanyDatas.StreetNumber<br />
                            @CompanyDatas.PostalCode,@CompanyDatas.CompanyCity <br />
                            @CompanyDatas.CompanyCountry
                    </div>
                </div>
            </div>
        </div>

    <p></p>
        <div class="row">
            <div class="col-12 b-r">
                will receive the order from us for the Goods below.
                <table id="mytable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:420px">
                                Goods
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Vat
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @{

                                int rowcount = 0;

                        }

                        @if (ViewBag.PurchaseDatailsList != null)
                            {
                                foreach (var item in ViewBag.PurchaseDatailsList)
                                {
                                    rowcount += 1;

                            <tr>
                                <td style="width:420px">
                                    @item.PurchaseItemName
                                </td>
                                <td>
                                    @item.PurchaseQuantity
                                </td>

                                <td>
                                    @item.PurchaseItemRate
                                </td>
                                <td>
                                    @item.PurchaseTotal

                                </td>
                                <td>
                                    @item.PurchaseVatPercentage

                                </td>

                            </tr>
                                }
                            }
                    </tbody>

                </table>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-7 b-r">
              
            </div>
            <div class="col-5 b-r">
                <div class="row">
                    <div class="col-5 b-r text-right">Total excl. VAT:€</div>
                    <div class="col-7 b-r text-right">@purchaseModel.PurchaseSubTotal</div>
                    
                </div>


                @if (purchaseModel.Vat6 != 0 && purchaseModel.Vat6 != null)
                { <div class="row">
                        <div class="col-5">
                            <label class="tex pull-right">VAT 6%:€</label>
                        </div>
                        <div class="col-sm-7 ">
                            <label class="tex pull-right">@purchaseModel.Vat6</label>
                        </div>
                       
                    </div>
                }

                @if (purchaseModel.Vat21 != 0 && purchaseModel.Vat21 != null)
                { <div class="row">
                    <div class="col-5">
                        <label class="tex pull-right">VAT 21%:€</label>
                    </div>
                    <div class="col-sm-7 ">
                        <label class="tex pull-right">@purchaseModel.Vat21</label>
                    </div>
                    
                </div>
                }

                <div class="row">
                    <div class="col-5 b-r text-right Grand-color">Grand Total</div>
                    <div class="col-7 b-r text-right">&euro;:@purchaseModel.PurchaseTotoalAmount</div>
                   
                </div>
            </div>
        </div>

            <hr />
            <div class="row">
                <div class="col-8 b-r">
                    We hopen dat alles duidelijk is. Laat het ons weten als u vragen heeft.
                </div>
                <div class="col-4 b-r"></div>
            </div>
            <div class="row">
                <div class="col-8 b-r">
                    Met vriendelijke groet.
                </div>
                <div class="col-4 b-r"></div>
            </div>

            <p></p>
            <div class="row Grand-color-CompanyName">
                <div class="col-6 b-r">@Contectdatas.ContactName</div>
                <div class="col-6 b-r"></div>
            </div>
            <div class="row Grand-color-CompanyName">
                <div class="col-6 b-r">@CompanyDatas.CompanyName</div>
                <div class="col-6 b-r"></div>
            </div>
      
    </div>
</div>
<div class="col-2 b-r">
    @*two*@
</div>
</div>




<script type="text/javascript">







    $(document).ready(function () {
        var patth = localStorage.getItem('path1');
        $("#FilePath1").val(patth);
        if ($('input#FilePath1').val() == "") {
        }
        else {
            $('#DownloadFileInvoice').submit();
            $("#FilePath1").val('');
            localStorage.removeItem('path1');
        }
    });







</script>
