
@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var purchaseModel = ViewBag.Purchase; 
}


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row">
    @if (TempData["EmailMessge"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong>@TempData["EmailMessge"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

<div class="row" style="margin-top:100px;margin-left:0px;margin-right:0px;">

    @using (Html.BeginForm("DownloadFile", "Purchase", FormMethod.Post, new { id = "DownloadFileInvoice" }))
    {
        <input type="hidden" name="FilePath1" id="FilePath1" />
        <button type="submit" id="downloadf" class="hidden" style="visibility:hidden;"></button>
    }


    <div class="row" style="margin-left:0px;margin-right:0px;">

        <div class="btn-group">

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:120px;">
                    Send
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink(" Send Invoice by Email", "InvoicebyEmail", "Purchase", new { purchaseOrderId= purchaseModel.PurchaseOrderID }, htmlAttributes: new { @class = "  fa fa-download" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink(" Send Invoice by Email", "ActionResult", "Purchase", new { purchaseOrderId = purchaseModel.PurchaseOrderID }, htmlAttributes: new { @class = "     fa fa-download" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink(" Print Invoice and send it yourself ", "Print", "Purchase", new { purchaseOrderId = purchaseModel.PurchaseOrderID }, htmlAttributes: new { @class = "  fa fa-download" })</li>
                </ul>
            </div>

            @Html.ActionLink("print concept", "Print", "Purchase", new { purchaseOrderId= purchaseModel.PurchaseOrderID }, new { @class = "btn btn-primary", style = "margin:0px 10px;" })

            <a href="/Purchase/AddOrEdit/@purchaseModel.PurchaseOrderID" class="btn btn-primary">Change</a>

        </div>
    </div>
</div>
<div style="margin-top:10px;border: 1px solid #CECECE;">
    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px;">
        <img src="@Url.Content("~/images/"+CompanyDatas.CompanyLogo)" class="img-responsive" id="targetImg" style="height:100px; width:100px;border:none" />
    </div>
    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
        <div class="col-md-4">
            <label>@CompanyDatas.CompanyName</label>
            <br />
            <label>@CompanyDatas.CompanyCity</label>
            <br />
            @{
                string value = CompanyDatas.CompanyPhone;
                if (value != "" && value != "undefined")
                { <label>T:@CompanyDatas.CompanyPhone</label> }
                else
                { <label>T:</label>  }
            }
            <br />
            <label>@CompanyDatas.CompanyEmail</label>
        </div>
        <div class="col-md-4">
            <img src="https://www.factuurdesk.nl/images/layout/offerte_concept.png" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-5">                  
                </div>
                <div class="col-sm-7">
                    <label>@CompanyDatas.CompanyName</label><br />                   
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    Kvk nr:
                </div>
                <div class="col-sm-7">
                    <label>@CompanyDatas.CompanyName</label><br />
                </div>
            </div>
          
            <label>@CompanyDatas.CompanyAddress</label><br />
            @*<label>@(Contectdatas.ContactName != "" ? Contectdatas.ContactName : "No Conatatc" )</label>*@
        </div>

    </div>
    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px;">

        <div class="col-md-1">
            <label>offer Date</label><br />
            <label>offer number</label><br />
            <label>valid untill</label>
            @{
                <p>@Convert.ToInt32((purchaseModel.PurchaseDueDate - purchaseModel.PurchaseDate).TotalDays)</p>
            }
        </div>
        <div class="col-xs-3">
            <label>@purchaseModel.PurchaseDate</label><br />
            <label>@purchaseModel.PurchaseRefNumber</label><br />
            <label>@purchaseModel.PurchaseDueDate</label>
        </div>
    </div>
    <div class="row" style="margin-right: 66px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
        will receive the invoice from us for the services below.

        <table id="mytable" class="table table-bordred table-striped table-responsive">
            <thead>
                <tr>
                    <th class="col-sm-4">
                        Product Name
                    </th>
                    <th class="col-sm-2">
                        Quantity
                    </th>
                    <th class="col-sm-2">
                        Price
                    </th>
                    <th class="col-sm-2">
                        Total
                    </th>
                    <th class="col-sm-1">
                        Vat
                    </th>
                </tr>
            </thead>
            <tbody>
              
                    @if (ViewBag.PurchaseDatailsList != null)
                    {
                        foreach (var item in ViewBag.PurchaseDatailsList)
                        {
                            <tr>
                                <td>
                                 @item.PurchaseItemName
                                </td>
                                <td>
                                   @item.PurchaseQuantity
                                </td>

                                <td>
                                   @item.PurchaseItemRate
                                </td>
                                <td>
                                    @item.PurchaseTotal

                                </td>
                                <td>
                                    @item.PurchaseVatPercentage

                                </td>
          
                            </tr>
                        }
                    }             
            </tbody>

        </table>
        <div class="col-md-8"></div>



        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-6">
                    <label class="tex pull-right">Total excl. VAT:	€	</label>
                </div>
                <div class="col-sm-5">
                    <label class="tex pull-right">@purchaseModel.PurchaseSubTotal</label>
                </div>
            </div>

            <div class="row">

                @if (purchaseModel.Vat6 != 0 && purchaseModel.Vat6 != null)
                {


                    <div class="col-sm-6">
                        <label class="tex pull-right">VAT 6%:	€	</label>
                    </div>
                    <div class="col-sm-5 ">
                        <label class="tex pull-right">@purchaseModel.Vat6</label>
                    </div>
                }
            </div>

            <div class="row">

                @if (purchaseModel.Vat21 != 0 && purchaseModel.Vat21 != null)
                {
                    <div class="col-sm-6">
                        <label class="tex pull-right">VAT 21%:	€</label>
                    </div>
                    <div class="col-sm-5">
                        <label class="tex pull-right">@purchaseModel.Vat21</label>

                    </div>
                }


            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <label class="tex pull-right">Grand Total:</label>
                </div>

                <div class="col-sm-5">
                    <label class="tex  pull-right">€:@purchaseModel.PurchaseTotoalAmount</label>

                </div>
            </div>
        </div>

    </div>



  

    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 20px;">
        We hope that everything is clear. If you have any questions, please let us know.
    </div>


    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 20px;">
        With kind regards,
    </div>
    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 10px;">
        <label><b>@Contectdatas.ContactName</b></label>
    </div>

    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 10px;">
        <label><b>@CompanyDatas.CompanyName</b> </label>
    </div>
    <hr style="border:solid 1px; margin-left:30px;margin-right:30px; margin-bottom:50px" />
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var patth = localStorage.getItem('path1');
        $("#FilePath1").val(patth);
        if ($('input#FilePath1').val() == "") {
        }
        else {
            $('#DownloadFileInvoice').submit();
            $("#FilePath1").val('');
            localStorage.removeItem('path1');
        }
    })
</script>
