
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    var purchaseModel = ViewBag.Purchase;
}

<div class="row">
    @if (TempData["EmailMessge"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong>@TempData["EmailMessge"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>


@using (Html.BeginForm("DownloadFile", "Purchase", FormMethod.Post, new { id = "DownloadFile1" }))
 {
    <input type="hidden" name="FilePath1" id="FilePath" />
    <button type="submit" id="downloadf" class="hidden" style="visibility:hidden;"></button>
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" style="margin-bottom:5px">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:150px">
                    <i class="fa fa-envelope" style="margin-right:20px;color:yellow"></i>
                    Send
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Purchase/InvoicebyEmail/?purchaseOrderId=@purchaseModel.PurchaseOrderID">Send by Email</a>
                    <a class="dropdown-item" href="/Purchase/Print/?purchaseOrderId=@purchaseModel.PurchaseOrderID">Print and send it yourself</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <a href="/Purchase/Print/?purchaseOrderId=@purchaseModel.PurchaseOrderID" class="btn btn-info btn-md" style="margin-bottom:5px"><span><i class="fa fa-download fa-backgroun" style="margin-right:5px"></i></span>Download</a>
            <a href="/Purchase/Edit/?Id=@purchaseModel.PurchaseOrderID" class="btn btn-info btn-md" style="margin-bottom:5px"><span><i class="fa fa-pencil fa-backgroun" style="margin-right:5px"></i></span>Change</a>
            <a href="/Purchase/Index/" class="btn btn-info btn-md" style="margin-bottom:5px"><span><i class="fa fa-angle-double-left" style="margin-right:5px"></i></span>Back</a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row" style="border:1px solid black">
        <div class="col-md-12">
            @Html.Partial("~/Views/Shared/PartialViews/HeaderPartial.cshtml")

          @{
              List<InvoiceDiskLast.Models.MvcPurchaseViewModel> InvoiceListGoods = new List<InvoiceDiskLast.Models.MvcPurchaseViewModel>();
           }
        @if (ViewBag.PurchaseDatailsList != null)
            {
                InvoiceListGoods = ViewBag.PurchaseDatailsList as List<InvoiceDiskLast.Models.MvcPurchaseViewModel>;

                InvoiceListGoods = InvoiceListGoods.Where(G => G.Type == "Goods").ToList();

                if (InvoiceListGoods != null && InvoiceListGoods.Count > 0)
                {

                    <div class="table-responsive" style="clear: both">
                        <table class="table table-hover" id="orderdetailsitems">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        Goederen
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Prijs
                                    </th>
                                    <th>
                                        Totaal
                                    </th>
                                    <th>
                                        BTW%
                                    </th>
                                    <th>
                                        Subtotaal
                                    </th>

                                </tr>
                            </thead>

                            <tbody class="tbody">

                                @foreach (var item in ViewBag.PurchaseDatailsList)
                                {
                                    if (item.Type == "Goods")
                                    {
                                        <tr id="mainrow">
                                            <td>
                                                @item.PurchaseItemName
                                            </td>
                                            <td>
                                                @item.PurchaseQuantity
                                            </td>
                                            <td>
                                                @item.PurchaseItemRate
                                            </td>
                                            <td>
                                                @item.PurchaseTotal
                                            </td>
                                            <td>
                                                @item.PurchaseVatPercentage
                                            </td>
                                            <td>
                                                @item.RowSubTotal
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
            }
        }

           @if (ViewBag.PurchaseDatailsList != null)
            {
                InvoiceListGoods = ViewBag.PurchaseDatailsList as List<InvoiceDiskLast.Models.MvcPurchaseViewModel>;

                InvoiceListGoods = InvoiceListGoods.Where(G => G.Type == "Service").ToList();

                if (InvoiceListGoods != null && InvoiceListGoods.Count > 0)
                {

                    <div class="table-responsive" style="clear: both">
                        <table class="table table-hover" id="QutationServiceDetail1">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Datam</th>
                                    <th>
                                        Diensten
                                    </th>
                                    <th>Omschrijving</th>
                                    <th>
                                        uur
                                    </th>
                                    <th>
                                        Uurprijs
                                    </th>
                                    <th>
                                        Totaal
                                    </th>
                                    <th>
                                        BTW %
                                    </th>
                                    <th>
                                        Subtotaal
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>

                            @foreach (var item in ViewBag.PurchaseDatailsList)
                            {

                                if (item.Type == "Service")
                                {
                                    DateTime dt = new DateTime();
                                    dt = Convert.ToDateTime(item.ServiceDate);
                                    <tr id="mainrow">
                                        <td>
                                            @dt.ToShortDateString()
                                        </td>

                                        <td>
                                            @item.PurchaseItemName
                                        </td>
                                        <td>
                                            @item.PurchaseDescription
                                        </td>

                                        <td>
                                            @item.PurchaseQuantity
                                        </td>
                                        <td>
                                            @item.PurchaseItemRate
                                        </td>
                                        <td>
                                            @item.PurchaseTotal
                                        </td>
                                        <td>
                                            @item.PurchaseVatPercentage
                                        </td>
                                        <td>
                                            @item.RowSubTotal
                                        </td>
                                    </tr>
                                }

                            }
                        </table>
                    </div>

                }
            }

            @Html.Partial("~/Views/Shared/PartialViews/ViewFilePartialView.cshtml")
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var patth = localStorage.getItem('path');
        $("#FilePath").val(patth);
        if ($('input#FilePath').val() == "") {
        }
        else {
            $('#DownloadFile1').submit();
            $("#FilePath").val('');
            localStorage.removeItem('path');
        }
    });

</script>
